<div class="reg_wrap" ng-controller="LoginCtrl">

    <div class="row main_row">
        <div class="login_wrap col-sm-6 green">
            <div class="reg_tabs">
                <span ng-click="tab='login'" class="reg_tab" ng-class="{active:tab=='login'}">Вход</span>
                <span ng-click="tab='reg'" class="reg_tab" ng-class="{active:tab=='reg'}">Регистрация</span>
            </div>
            <div>
                <input class="email_input" ng-model="email" type="email" placeholder="эл.почта" />
            </div>
            <div>
                <input class="password_input"
                       ng-model="pas1"
                       type="{{pass_type}}"
                       placeholder="{{pass_placeholder}}"
                       hotkey="{'Enter':loginOrReg}"/>
                <i ng-click="show_password = !show_password"
                   class="show_password icon-eye"
                   ng-class="{active: show_password}"></i>
            </div>
            <div ng-show="tab=='reg'&&!show_password">
                <input class="password_input" ng-model="pas2" type="password" placeholder="пароль" />
            </div>
            <button ng-click="loginOrReg()" ng-if="tab=='login'" class="btn btn-sm" ng-class="{ok:all_ok}">войти</button>
            <button ng-click="loginOrReg()" ng-if="tab=='reg'" class="btn btn-sm" ng-class="{ok:all_ok}">зарегистрироваться</button>
            <div class="lost_password">
                <input type="checkbox" checked id="member"> <label for="member">запомнить на этом компьютере</label>
            </div>
            <div ng-if="tab=='login'" class="lost_password">
                сменить пароль
            </div>
        </div>
        <div class="col-sm-6 gray">
            <div>
                <h1>Возможности:</h1>
                <ul class="tips">
                    <li><i class="icon-cloud"></i><div class="tiptext">Хранение заметок online / offline</div></li>
                    <li><i class="icon-check"></i><div class="tiptext">Древовидные списки дел (GTD)</div></li>
                    <li><i class="icon-key-inv"></i><div class="tiptext">Шифрование на стороне клиента</div></li>
                    <li><i class="icon-book"></i><div class="tiptext">Зашифрованный дневник</div></li>
                    <li><i class="icon-users"></i><div class="tiptext">Совместная работа online</div></li>
                    <li><i class="glyphicon glyphicon-globe"></i><div class="tiptext">Ваш собственный сайт</div></li>
                    <li><i class="icon-mail"></i><div class="tiptext">Новая заметка из электронной почты</div></li>
                    <li><i class="icon-search-1"></i><div class="tiptext">Полнотекстовый поиск, в том числе на фотографиях</div></li>
                    <li><i class="icon-article-alt"></i><div class="tiptext">Распознавание текста на фото</div></li>
                    <li><i class="icon-clock"></i><div class="tiptext">Добавление дел с распознаванием дат</div></li>
                    <li><i class="icon-sitemap"></i><div class="tiptext">Карты ума</div></li>
                    <li><i class="icon-chart-area"></i><div class="tiptext">Счётчики достижений</div></li>
                    <li><i class="glyphicon glyphicon-phone"></i><div class="tiptext">SMS напоминания</div></li>
                    <li><i class="icon-export-2"></i><div class="tiptext">Возможность поделиться заметкой при помощи короткой ссылки</div></li>
                    <li><i class="icon-hourglass"></i><div class="tiptext">Таймер с встроенной системой Pomodorro</div></li>
                    <li><i class="icon-flash"></i><div class="tiptext">Высокая скорость работы</div></li>
                </ul>
            </div>
        </div>
    </div>
</div>