@charset "UTF-8";

.vertical_scroll {
    -webkit-overflow-scrolling: touch;
}


.make_gray {
    background: $light_gray;
}

//кнопка правого меню (3 полоски)
.right_menu_button_w {
    font-size: 19px;
    position: absolute;
    right:  5px;
    top: 2px;
    i:before {
        margin: 0;
    }
    .r_menu_button {
        display: inline-block;
        padding: 0 $grid/4;
        cursor: pointer;
        &:hover {
            background: $light_gray;            
        }
    }

}


.hor_line {
    height: 1px;
    margin-top: $grid/2;
    background: #000;
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 20%, rgba(0,0,0,0.65) 78%, rgba(0,0,0,0.62) 79%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0.65)), color-stop(78%,rgba(0,0,0,0.65)), color-stop(79%,rgba(0,0,0,0.62)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 20%,rgba(0,0,0,0.65) 78%,rgba(0,0,0,0.62) 79%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 20%,rgba(0,0,0,0.65) 78%,rgba(0,0,0,0.62) 79%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 20%,rgba(0,0,0,0.65) 78%,rgba(0,0,0,0.62) 79%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 20%,rgba(0,0,0,0.65) 78%,rgba(0,0,0,0.62) 79%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

a {
    cursor: pointer;
}

h9 {
    display: block;
    color: $gray;
    padding: $padding 0 $padding/2 0;
}

h9:first-child {
    padding-top: 0px;
}

h10 {
    display: block;
    color: lighten($main_color,12%);
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: $grid/2;
}

h10:first-child {
    margin-top: 0px;
}
h10:before {
    content: '\25b8';
    font-size: 1.5em;
    position: absolute;
    margin-left: -($padding*2) - 5px;
    margin-top: -0.2em;
    font-family: 'fontello';
    vertical-align: top;
}
h10.open:before {
    content: '\25be';
    margin-left: -($padding*2) - 7px;
    margin-top: -0.18em;    
}

@mixin anim($type: slideInDown, $sec: 0.5s) {
    animation-play-state: initial;
    -webkit-animation: $type $sec;
    -moz-animation: $type $sec;
    -ms-animation: $type $sec;
    animation: $type $sec;
}

$how_long: 0.1s;

.slide_right.ng-enter { 
    @include anim(fadeInDown, $how_long); //fadeInRightBig
} 


.slide_left.ng-enter { 
    @include anim(fadeInDown, $how_long); //fadeInRightBig
} 

.slide_left.ng-leave {
    @include anim(fadeInUp, $how_long); //fadeInRightBig
    display: none;
}
.slide_right.ng-leave {
    @include anim(fadeInUp, $how_long); //fadeInRightBig
    display: none;
}

.slide_left {
}
.slide_right {
}

.ng-enter-active {
//    position: absolute;
    top: 0px;
}

 
 































