#w_main {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }
  #w_main #w_header_main {
    -webkit-transition: height 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
    transition: height 0.1s ease-in-out;
    background: green;
    position: absolute;
    top: 0px;
    height: 200px;
    left: 0px;
    right: 0px; }
  #w_main #w_content_main {
    -webkit-transition: top 0.1s ease-in-out;
    -o-transition: top 0.1s ease-in-out;
    -moz-transition: top 0.1s ease-in-out;
    transition: top 0.1s ease-in-out;
    background: lightgreen;
    position: absolute;
    top: 200px;
    bottom: 0px;
    left: 0px;
    right: 0px; }

#w_main.header_panel_opened #w_header_main {
  -webkit-transition: height 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
  height: 100px; }
#w_main.header_panel_opened #w_content_main {
  -webkit-transition: top 0.1s ease-in-out;
  -o-transition: top 0.1s ease-in-out;
  -moz-transition: top 0.1s ease-in-out;
  transition: top 0.1s ease-in-out;
  top: 100px; }
