@charset "UTF-8";
// Главное окно приложения

//@import 'settings';
@import 'mymixins';

#w_main {
    @include absolute_me(0, 0, 0, 0);
    #w_header_main {
        @include animate_me(height, 0.1s);
        @include absolute_me(0, 0, auto, 0);
        height: $header_height_closed;
        .w_header_top {
            line-height: $grid*2;
            vertical-align: middle;
            .w_header_left {
                @include absolute_me(0,auto,0,$grid/2);
            }
            .w_header_center {
                text-align: center;
                input {
                    display: inline-block;
                    line-height: 1.4em;
                    padding: 3px 10px 4px 10px;
                    width: $grid * 10;
                    border: 1px solid $gray;
                }
            }
            .w_header_right {
                @include absolute_me(0,$grid/2,0,auto);
            }
            .btn {
                border: 1px solid $gray;
                background: #EEE;
                padding: 3px $grid/2;
                //margin: 5px;
                //border-radius: 3px;
                font-size: 1em;
                color: $main_color;
            }   
            .dropdown-toggle {
                padding: 3px $grid/3;
            }
        }
    }
    #w_content_main {
        @include animate_me(top, 0.1s);
        @include absolute_me($header_height_closed, 0, 0, 0);
    }
}

//если верхняя панель открыта
#w_main.header_panel_opened {
    #w_header_main {
        @include animate_me(height, 0.1s);
        height: $header_height_opened;
    }
    #w_content_main {
        @include animate_me(top, 0.1s);
        top: $header_height_opened;
    }
}



//левая крайняя панель (избранные)
#p_left_side_wrap {
    display: none;
    @include absolute_me(0, auto, 0, 0);
    width: $p_left_side_width;
    .p_inside_content {
    }
    .p_inside_header2 {
    }

}



//правая крайняя панель (план дня)
#p_right_side_wrap {
    display: none;
    @include absolute_me(0, $p_right_calendar_line_width, 0, auto);
    width: $p_right_side_width - $p_right_calendar_line_width;
}

#p_right_calendar_line {
    display: none;
    @include absolute_me(0, 0, 0, auto);
    width: $p_right_calendar_line_width;
    background: $main_color;    
}

#p_center_wrap {
    @include absolute_me(0, 0, 0, 0);
}


//левая панель открыта
#w_main.p_left_side_open {
    #p_left_side_wrap {
        display: block;
    }

    #p_center_wrap {
        left: $p_left_side_width;
        @include animate_me(left, 0.1s);
    }

}
//правая панель открыта
#w_main.p_right_side_open {
    #p_right_side_wrap {
        display: block;
    }

    #p_center_wrap {
        right: $p_right_side_width;
        @include animate_me(right, 0.1s);
    }

    #p_right_calendar_line {
        display: block;
    }


}

#w_main.p_plan_of_day_closed.p_right_side_open {
    #p_center_wrap {
        right: $grid * 2;
        @include animate_me(right, 0.1s);
    }
}





#p_left_wrap {
    @include absolute_me(0, $p_center_procent, 0, 0);
}

#p_right_wrap {
    @include absolute_me(0, 0, 0, $p_center_procent);
    .p_inside_content, .p_inside_header2 {
        border-left: 1px solid rgba(0,0,0,0.05);
    }
}

.left_line {
    border-left: 1px solid lighten($main_color, 5%);
}

.p_inside_wrap {
    position: relative;
    height: 100%;
    //border: 1px solid #EEE;

    .p_inside_header {
        height: $p_inside_header_height;
        background: $main_color;
        text-align: center;
        color: $main_font_color;
        cursor: pointer;
        .title {
            font-family: $font_family;
            font-size: 1em;
            color: lighten($main_color, $title_lighten);
            letter-spacing:1px;
            display: inline-block;
            @include nowrap_me;
            vertical-align: middle;
            line-height: $p_inside_header_height;
            i:before {
                margin-right: 0 !important;
            }
        }
        .title.drop:after {
            font-size: 0.9em;
            color: lighten($main_color, $title_lighten);
            content: "\e869";
            font-family: 'fontello';
            margin-left: 1em;
            margin-top: 2px;
        }
    }

    .p_inside_header2 {
        height: $p_inside_header_height;
    }
    .p_inside_content {
        @include absolute_me($p_inside_header_height,0,0,0);
    }
    .has_header {
        top: $p_inside_header_height*2;
    }
    .p_inside_sidebar {
        background: $main_color;
        @include absolute_me($p_inside_header_height,auto,0,0);
        width: $grid;
        .p_inside_sidebar_gradient {
            @include side_gradient;        
            height: 100%;
        }
    }

}

.margin_left {
    margin-left: $grid/2;
    margin-right: $grid;
}

.left_main_line {
    @include absolute_me(0,auto,0,0);
    background: $main_color;
    width: $grid/2;
    cursor: pointer;
}

.right_main_line {
    @include absolute_me(0,0,0,auto);
    background: $main_color;
    width: $grid/2;
    cursor: pointer;
}


.vertical_scroll {
    -webkit-overflow-scrolling: touch;
}

.editor {
    position: relative;
    padding: 0px $grid/2 0px $grid/2;
    font-family: $font_family;
    img {
        max-width: 90%;
    }
}


.make_gray {
    background: $light_gray;
}



