@charset "UTF-8";


$easing: ease-out;

//анимация
@mixin animate_me($property, $time) {
    -webkit-transition: $property $time $easing;
    -o-transition: $property $time $easing;
    -moz-transition: $property $time $easing;
    transition: $property $time $easing;
}

//делает абсолютным и помещает углы в координаты
@mixin absolute_me($top, $right, $bottom, $left) {
  	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

//запрещаем перенос строки
@mixin nowrap_me() {
	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis;	
}


@mixin side_gradient($stop_opacity) {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,$stop_opacity) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,$stop_opacity))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,$stop_opacity) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,$stop_opacity) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,$stop_opacity) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,$stop_opacity) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */

}