@charset "UTF-8";

.note_tasks {
	margin-top: $padding;
}

$date_opacity: 0.2;

.one_task {
	white-space: nowrap;
	margin-bottom: $padding*2;
	.left_part {
		display: inline-block;
		vertical-align: top;
	}
	.right_part {
		display: inline-block;
		//border-left: 1px solid lighten($gray, 5%);
		padding-left: $padding;
		margin-left: $padding/2;
		.task_date {
			display: inline-block;
			background: rgba(#0000FF, $date_opacity - 0.1);
			font-size: round($grid_label/2);
			color: #000;
			line-height: $grid_label - 4px;
			vertical-align: baseline;
			height: $grid_label;
			width: $grid_label*3;
			text-align: center;
			border-radius: round($grid_label/2);
			border: 2px solid #c9c5ff;
			cursor: pointer;
			margin-right: $padding/2;
		}
		.title {
			display: inline;
			white-space: normal;
		}
	}
}


.datepast {
    background: rgba(#f8000d, $date_opacity) !important;
	border: 2px solid #f5a1aa !important;
}

.datetoday {
    background: #feaa0c !important;
	border: 2px solid #feaa0c !important;
}

.datetoday.past {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.85, #ffd5b5), color-stop(0.95, rgba(#f8000d, $date_opacity) )) !important;
	border: 2px solid #feaa0c !important;    
}

.nodate {
	background: #eaeaea !important;
	border: 2px solid rgba(#cccccc,1) !important;   
	color: rgba(#cccccc,1) !important; 
}

