@charset "UTF-8";
// Главное окно приложения

@import 'mymixins';


.plan_of_day {
	margin: 0px $grid;
	ul {
		list-style: none;
		padding-left: 0px;
		li {
			font-size: 1em;
			.time {
				display: inline-block;
				width: 3.5em;
			}
			.title {
				display: inline-block;
			}
			&.done {
				color: #222;
				div {
					text-decoration: line-through;
				}
			}
		}
	}
	.diary {
		outline: none;
		font-style: italic;
		width: 100%;
		height: 10em;
	}
	.add_do {
		.title {
			@include animate_me(color, 0.3s);
			color: $gray;
			cursor: pointer;
			&:hover {
				color: lighten($main_color,12%);
			}
		}
	}
}