@charset "UTF-8";

$main_color: #336405;
$main_font_color: #FFF;

$grid: 30px;

//шапка приложения - высота
$header_height_closed: $grid * 2;
$header_height_opened: $grid * 2 //панель
					 + $grid * 2; //место для кнопок календаря

//боковые панели - ширина
$p_left_side_width: $grid * 1; 
$p_right_side_width: $grid * 5;

//процент разделения левой/правой панели по умолчанию
$p_center_procent: 50%;

//высота заголовков у всех панелей
$p_inside_header_height: $grid;