@charset "UTF-8";
// Главное окно приложения

@import 'mymixins';

.make_favorit_button {
	color: $gray;
	cursor: pointer;
	&:hover {
		color: darken($gray, 10%);
	}
}

.mini_settings {
	padding: $padding;
	.ms_title {
		.settings_title {
			margin-left: $grid/3;
			margin-top: $grid/3;
			font-weight: bold;
		}		
	}

	.ms_inside {
		padding: $grid/2 $grid;
		padding-bottom: 0;

		//кнопки мини параметров
		.nm_settings_buttons {
			text-align: center;
			padding-top: $padding;
			.nm_btn {
				display: inline-block;
				width: round( $grid*2.5 );
				color: $gray;
				cursor: pointer;
				i {
					font-size: $grid*1;
					&:before {
						margin: 0;
					}
				}
				&.active {
					color: #000;
				}
				.nm_title {
					font-size: 8px;
					text-align: center;
					font-weight: bold;
				}		
			}
		}

		.ms_icon {
			font-size: 1.2em;
			display: inline-block;
			width: $grid*1.2;
			height: $grid*1.2;
			text-align: center;
			display: inline-block;
			cursor: pointer;
			color: #000;
			&:hover {
				color: $main_color;
			}
		}

		.ms_colors {
			margin-top: $padding;
			.ms_color_label {
				display: inline-block;
				width: $grid;
				height: $grid;
				margin-right: 0px;
				cursor: pointer;
				&:nth-child(odd) {
					margin-right: $padding;
				}
				&.main {
					margin-right: $padding;
					&:after {
						content: '\e825';
						font-family: 'fontello';
						color: #FFF;
						width: $grid;
						text-align: center;
						line-height: $grid;
						position: absolute;
					}
				}
			}			
		}

		.table_settings {
			width: 100%;
			td {
				vertical-align: top;	
				padding: round($padding/2);
				.btn {
					background: #EEE;
				}			
			}
			th {
				min-width: 10em;
				font-weight: normal;
				color: $dark_gray;
				text-align: right;
				padding-right: $padding;
			}
			label {
				font-weight: normal;
				cursor: pointer;
			}
			input[type=checkbox] {
				cursor: pointer;
			}
			.ngrs-range-slider {
				margin: 0px;
				border-color: $light_gray;
				box-shadow: none;
				-webkit-box-shadow: none;
			}
			.left_label {
				width: 5em;
				text-align: right;
				padding-top: 0px;
				padding-right: $padding;
				color: $dark_gray;
			}
			.right_content {
			}
		}

	}



	.note_mini_settings_panel {
		padding: $padding 0;
		min-height: 10em;
	}

}

