@charset "UTF-8";
/* Space out content a bit */
body, html {
  padding: 0px;
  margin: 0px;
  font-size: 12.5px; }

/* Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/
#w_main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #w_main #w_header_main {
    -webkit-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    -moz-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 50px; }
  #w_main #w_content_main {
    -webkit-transition: top 0.1s ease-out;
    -o-transition: top 0.1s ease-out;
    -moz-transition: top 0.1s ease-out;
    transition: top 0.1s ease-out;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0; }

#w_main.header_panel_opened #w_header_main {
  -webkit-transition: height 0.1s ease-out;
  -o-transition: height 0.1s ease-out;
  -moz-transition: height 0.1s ease-out;
  transition: height 0.1s ease-out;
  height: 100px; }
#w_main.header_panel_opened #w_content_main {
  -webkit-transition: top 0.1s ease-out;
  -o-transition: top 0.1s ease-out;
  -moz-transition: top 0.1s ease-out;
  transition: top 0.1s ease-out;
  top: 100px; }

#p_left_side_wrap {
  display: none;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 25px;
  background: #306f18; }
  #p_left_side_wrap .p_inside_content {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 200, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
    /* IE6-9 */ }
  #p_left_side_wrap .p_inside_header2 {
    background: #306f18; }

#p_right_side_wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 250px; }

#p_center_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#w_main.p_left_side_open #p_left_side_wrap {
  display: block; }
#w_main.p_left_side_open #p_center_wrap {
  left: 25px;
  -webkit-transition: left 0.1s ease-out;
  -o-transition: left 0.1s ease-out;
  -moz-transition: left 0.1s ease-out;
  transition: left 0.1s ease-out; }

#w_main.p_right_side_open #p_right_side_wrap {
  display: block; }
#w_main.p_right_side_open #p_center_wrap {
  right: 250px;
  -webkit-transition: right 0.1s ease-out;
  -o-transition: right 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
  transition: right 0.1s ease-out; }

#p_left_wrap {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0; }

#p_right_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%; }

.left_line {
  border-left: 1px solid #39841d; }

.p_inside_wrap {
  position: relative;
  height: 100%; }
  .p_inside_wrap .p_inside_header {
    height: 25px;
    background: #306f18;
    text-align: center;
    color: white;
    cursor: pointer; }
    .p_inside_wrap .p_inside_header .title {
      font-family: "Ubuntu", Verdana;
      font-size: 1em;
      color: #91e172;
      letter-spacing: 1px;
      display: inline-block;
      white-space: nowrap;
      /* Запрещаем перенос строк */
      overflow: hidden;
      /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis;
      vertical-align: middle;
      line-height: 25px; }
      .p_inside_wrap .p_inside_header .title i:before {
        margin-right: 0 !important; }
    .p_inside_wrap .p_inside_header .title.drop:after {
      font-size: 0.9em;
      color: #91e172;
      content: "\e869";
      font-family: 'fontello';
      margin-left: 1em;
      margin-top: 2px; }
  .p_inside_wrap .p_inside_header2 {
    height: 25px; }
  .p_inside_wrap .p_inside_content {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0; }
  .p_inside_wrap .p_inside_sidebar {
    background: #306f18;
    position: absolute;
    top: 25px;
    right: auto;
    bottom: 0;
    left: 0;
    width: 25px; }
    .p_inside_wrap .p_inside_sidebar .p_inside_sidebar_gradient {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 200, 0.5)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
      /* IE6-9 */
      height: 100%; }

.margin_left {
  margin-left: 25px; }

.vertical_scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.editor {
  padding: 15px;
  font-family: "Ubuntu", Verdana; }
