@charset "UTF-8";

//параметры
@import 'settings'; 

/* Space out content a bit */
body, html {
    padding: 0px;
    margin: 0px;
    font-size: $grid/2;
}

/* Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/


//мои миксины
@import 'mymixins'; 

//главное окно
@import 'main_window'; 

//иконки календаря в верхней строчке
@import 'calendar_boxes';

//план дня
@import 'plan_of_day';

@import 'tree_one_line';

@import 'path_line';

@import 'pomidor_timer';