@charset "UTF-8";
/* Space out content a bit */
body, html {
  padding: 0px;
  margin: 0px;
  font-size: 13px; }

/* Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.vertical_scroll {
  -webkit-overflow-scrolling: touch; }

.make_gray {
  background: #dedede; }

.right_menu_button_w {
  font-size: 19px;
  position: absolute;
  right: 5px;
  top: 2px; }
  .right_menu_button_w i:before {
    margin: 0; }
  .right_menu_button_w .r_menu_button {
    display: inline-block;
    padding: 0 6.25px;
    cursor: pointer; }
    .right_menu_button_w .r_menu_button:hover {
      background: #dedede; }

.hor_line {
  height: 1px;
  margin-top: 12.5px;
  background: #000;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.62) 79%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0.65)), color-stop(78%, rgba(0, 0, 0, 0.65)), color-stop(79%, rgba(0, 0, 0, 0.62)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.62) 79%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.62) 79%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.62) 79%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.62) 79%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 */ }

a {
  cursor: pointer; }

h9 {
  display: block;
  color: #cccccc;
  padding: 8px 0 4px 0; }

h9:first-child {
  padding-top: 0px; }

h10 {
  display: block;
  color: #8590ff;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0px;
  cursor: pointer;
  margin-top: 12.5px; }

h10:first-child {
  margin-top: 0px; }

h10:before {
  content: '\25b8';
  font-size: 1.5em;
  position: absolute;
  margin-left: -22px;
  margin-top: -0.2em;
  font-family: 'fontello';
  vertical-align: top; }

h10.open:before {
  content: '\25be';
  margin-left: -23px;
  margin-top: -0.19em; }

.slide_right.ng-enter {
  animation-play-state: initial;
  -webkit-animation: fadeInDown 0.1s;
  -moz-animation: fadeInDown 0.1s;
  -ms-animation: fadeInDown 0.1s;
  animation: fadeInDown 0.1s; }

.slide_left.ng-enter {
  animation-play-state: initial;
  -webkit-animation: fadeInDown 0.1s;
  -moz-animation: fadeInDown 0.1s;
  -ms-animation: fadeInDown 0.1s;
  animation: fadeInDown 0.1s; }

.slide_left.ng-leave {
  animation-play-state: initial;
  -webkit-animation: fadeInUp 0.1s;
  -moz-animation: fadeInUp 0.1s;
  -ms-animation: fadeInUp 0.1s;
  animation: fadeInUp 0.1s;
  display: none; }

.slide_right.ng-leave {
  animation-play-state: initial;
  -webkit-animation: fadeInUp 0.1s;
  -moz-animation: fadeInUp 0.1s;
  -ms-animation: fadeInUp 0.1s;
  animation: fadeInUp 0.1s;
  display: none; }

.ng-enter-active {
  top: 0px; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
#w_main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #w_main #w_header_main {
    -webkit-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    -moz-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 66px; }
    #w_main #w_header_main .header_menu .link {
      display: inline-block;
      padding: 4px 8px;
      padding-left: 13px;
      cursor: pointer; }
      #w_main #w_header_main .header_menu .link:hover {
        background: #dedede; }
    #w_main #w_header_main .header_menu .user_info {
      display: inline-block;
      position: absolute;
      right: 12.5px;
      top: 4px;
      color: #cccccc;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      #w_main #w_header_main .header_menu .user_info:hover {
        color: #000; }
        #w_main #w_header_main .header_menu .user_info:hover .photo {
          opacity: 1; }
      #w_main #w_header_main .header_menu .user_info .surname {
        display: inline-block;
        vertical-align: middle;
        line-height: 25px;
        height: 25px;
        margin-right: 8px; }
      #w_main #w_header_main .header_menu .user_info .photo {
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        display: inline-block;
        vertical-align: middle;
        border-radius: 2px;
        opacity: 0.4;
        width: 25px;
        height: 25px; }
    #w_main #w_header_main .header_second_line {
      margin-top: 8px; }
      #w_main #w_header_main .header_second_line .search {
        border: 1px solid #dedede;
        margin-left: 13px;
        padding: 2px 8px;
        height: 24px;
        padding-right: 1.6em;
        width: 136px;
        outline: none;
        -webkit-transition: width 1s ease-out;
        -o-transition: width 1s ease-out;
        -moz-transition: width 1s ease-out;
        transition: width 1s ease-out; }
        #w_main #w_header_main .header_second_line .search:focus {
          width: 230px;
          -webkit-transition: width 0.3s ease-out;
          -o-transition: width 0.3s ease-out;
          -moz-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out; }
      #w_main #w_header_main .header_second_line .clear {
        display: inline-block;
        position: absolute;
        margin-left: -1.2em;
        font-size: 1.3em;
        color: #cccccc;
        cursor: pointer; }
      #w_main #w_header_main .header_second_line .header_center {
        position: absolute;
        right: 13px;
        display: inline-block; }
        #w_main #w_header_main .header_second_line .header_center .btn {
          height: 24px;
          padding-top: 2px;
          padding-bottom: 2px;
          background: #FFF;
          color: gray; }
          #w_main #w_header_main .header_second_line .header_center .btn .caret {
            border-top-color: gray; }
          #w_main #w_header_main .header_second_line .header_center .btn.wide {
            padding-left: 20px;
            padding-right: 20px; }
            #w_main #w_header_main .header_second_line .header_center .btn.wide:hover {
              background: #4858ff;
              color: #FFF;
              border-color: #4858ff;
              -webkit-transition: all 0.5s ease-out;
              -o-transition: all 0.5s ease-out;
              -moz-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out; }
    #w_main #w_header_main .w_header_top {
      line-height: 50px;
      vertical-align: middle; }
      #w_main #w_header_main .w_header_top .w_header_left {
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 12.5px; }
      #w_main #w_header_main .w_header_top .w_header_center {
        text-align: center; }
        #w_main #w_header_main .w_header_top .w_header_center input {
          display: inline-block;
          line-height: 1.4em;
          padding: 3px 10px 4px 10px;
          width: 250px;
          border: 1px solid #cccccc; }
      #w_main #w_header_main .w_header_top .w_header_right {
        position: absolute;
        top: 0;
        right: 12.5px;
        bottom: 0;
        left: auto; }
      #w_main #w_header_main .w_header_top .btn {
        border: 1px solid #cccccc;
        background: #EEE;
        padding: 3px 12.5px;
        font-size: 1em;
        color: #4858ff; }
      #w_main #w_header_main .w_header_top .dropdown-toggle {
        padding: 3px 8.33333px; }
  #w_main #w_content_main {
    -webkit-transition: top 0.1s ease-out;
    -o-transition: top 0.1s ease-out;
    -moz-transition: top 0.1s ease-out;
    transition: top 0.1s ease-out;
    position: absolute;
    top: 66px;
    right: 0;
    bottom: 0;
    left: 0; }

#w_main.header_panel_opened #w_header_main {
  -webkit-transition: height 0.1s ease-out;
  -o-transition: height 0.1s ease-out;
  -moz-transition: height 0.1s ease-out;
  transition: height 0.1s ease-out;
  height: 100px; }
#w_main.header_panel_opened #w_content_main {
  -webkit-transition: top 0.1s ease-out;
  -o-transition: top 0.1s ease-out;
  -moz-transition: top 0.1s ease-out;
  transition: top 0.1s ease-out;
  top: 100px; }

#p_left_side_wrap {
  display: none;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 300px; }

#p_right_side_wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  left: auto;
  width: 250px; }

#p_right_calendar_line {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 50px;
  background: #4858ff; }

#p_center_wrap {
  position: absolute;
  top: 0;
  right: 12.5px;
  bottom: 0;
  left: 12.5px; }

#w_main.p_left_side_open #p_left_side_wrap {
  display: block; }
#w_main.p_left_side_open #p_center_wrap {
  left: 300px;
  -webkit-transition: left 0.1s ease-out;
  -o-transition: left 0.1s ease-out;
  -moz-transition: left 0.1s ease-out;
  transition: left 0.1s ease-out; }
#w_main.p_left_side_open .left_main_line {
  left: 287.5px; }

#w_main.p_right_side_open #p_right_side_wrap {
  display: block; }
#w_main.p_right_side_open #p_center_wrap {
  right: 312.5px;
  -webkit-transition: right 0.1s ease-out;
  -o-transition: right 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
  transition: right 0.1s ease-out; }
#w_main.p_right_side_open #p_right_calendar_line {
  display: block; }
#w_main.p_right_side_open .right_main_line {
  right: 300px; }

#w_main.p_plan_of_day_closed.p_right_side_open #p_center_wrap {
  right: 62.5px;
  -webkit-transition: right 0.1s ease-out;
  -o-transition: right 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
  transition: right 0.1s ease-out; }
#w_main.p_plan_of_day_closed.p_right_side_open .right_main_line {
  right: 50px; }

#p_left_wrap {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0; }
  #p_left_wrap .p_inside_header2 {
    position: relative; }
    #p_left_wrap .p_inside_header2 .right_menu_button_w {
      right: 1px; }

#p_right_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%; }
  #p_right_wrap .p_inside_content, #p_right_wrap .p_inside_header2 {
    border-left: 1px solid rgba(0, 0, 0, 0.05); }

.left_line {
  border-left: 1px solid #616fff; }

.p_inside_wrap {
  position: relative;
  height: 100%; }
  .p_inside_wrap .p_inside_header {
    height: 25px;
    background: #4858ff;
    text-align: center;
    color: white;
    cursor: pointer; }
    .p_inside_wrap .p_inside_header .title {
      font-family: "Ubuntu", Verdana;
      font-size: 1em;
      color: white;
      letter-spacing: 1px;
      display: inline-block;
      white-space: nowrap;
      /* Запрещаем перенос строк */
      overflow: hidden;
      /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis;
      vertical-align: middle;
      line-height: 25px; }
      .p_inside_wrap .p_inside_header .title i:before {
        margin-right: 0 !important; }
    .p_inside_wrap .p_inside_header .title.drop:after {
      font-size: 0.9em;
      color: white;
      content: "\e869";
      font-family: 'fontello';
      margin-left: 1em;
      margin-top: 2px; }
  .p_inside_wrap .p_inside_header2 {
    height: 25px; }
  .p_inside_wrap .p_inside_content {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0; }
  .p_inside_wrap .has_header {
    top: 50px; }
  .p_inside_wrap .p_inside_sidebar {
    background: #4858ff;
    position: absolute;
    top: 25px;
    right: auto;
    bottom: 0;
    left: 0;
    width: 25px; }
    .p_inside_wrap .p_inside_sidebar .p_inside_sidebar_gradient {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 200, 0.5)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
      /* IE6-9 */
      height: 100%; }

.margin_left {
  margin-left: 12.5px;
  margin-right: 25px; }

.left_main_line {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  background: #4858ff;
  width: 12.5px;
  cursor: pointer; }

.right_main_line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  background: #4858ff;
  width: 13px;
  cursor: pointer;
  z-index: 1; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
#calendar_box_line {
  white-space: nowrap;
  /* Запрещаем перенос строк */
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
  width: 100%; }

#p_right_calendar_line .p_inside_content {
  top: 25px; }

.calendar_box_wrap {
  height: 50px; }
  .calendar_box_wrap .calendar_box {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: white;
    color: #4858ff;
    font-family: "Ubuntu", Verdana;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-out;
    -o-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out; }
    .calendar_box_wrap .calendar_box.weekend {
      background: #fafbff;
      color: #4858ff; }
    .calendar_box_wrap .calendar_box.week_0 {
      opacity: 0.55; }
    .calendar_box_wrap .calendar_box.week_1 {
      opacity: 0.97; }
    .calendar_box_wrap .calendar_box.week_2 {
      opacity: 0.9; }
    .calendar_box_wrap .calendar_box.week_3 {
      opacity: 0.84; }
    .calendar_box_wrap .calendar_box.week_4 {
      opacity: 0.76; }
    .calendar_box_wrap .calendar_box.week_5 {
      opacity: 0.69; }
    .calendar_box_wrap .calendar_box.week_6 {
      opacity: 0.62; }
    .calendar_box_wrap .calendar_box.week_7 {
      opacity: 0.55; }
    .calendar_box_wrap .calendar_box.odd_month {
      background: #ddd3ff; }
    .calendar_box_wrap .calendar_box.active {
      background: #FFF;
      opacity: 1; }
    .calendar_box_wrap .calendar_box.today {
      color: #fafbff;
      background: #4858ff;
      opacity: 1 !important; }
      .calendar_box_wrap .calendar_box.today.active {
        background: #FFF;
        color: #000; }
        .calendar_box_wrap .calendar_box.today.active .box_day {
          font-weight: bold; }
    .calendar_box_wrap .calendar_box .box_week_day {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      vertical-align: top;
      line-height: 15.625px;
      font-size: 10px; }
    .calendar_box_wrap .calendar_box .box_month {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      vertical-align: top;
      line-height: 16.66667px;
      font-size: 10px; }
    .calendar_box_wrap .calendar_box .box_day {
      font-size: 23.75px;
      vertical-align: middle;
      cursor: pointer; }
    .calendar_box_wrap .calendar_box .box_stat {
      display: none;
      color: #CCC;
      font-size: 0.8em;
      position: absolute;
      line-height: 1em;
      left: 0px;
      right: 0px;
      bottom: -1.3em; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.plan_of_day {
  margin: 0px 25px; }
  .plan_of_day ul {
    list-style: none;
    padding-left: 0px; }
    .plan_of_day ul li {
      font-size: 1em; }
      .plan_of_day ul li .time {
        display: inline-block;
        width: 3.5em; }
      .plan_of_day ul li .title {
        display: inline-block; }
      .plan_of_day ul li.done {
        color: #222; }
        .plan_of_day ul li.done div {
          text-decoration: line-through; }
  .plan_of_day .diary {
    outline: none;
    font-style: italic;
    width: 100%;
    height: 10em; }
  .plan_of_day .add_do .title {
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    color: #cccccc;
    cursor: pointer; }
    .plan_of_day .add_do .title:hover {
      color: #8590ff; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.main_tree {
  margin-left: -12.5px;
  margin-top: 12.5px; }
  .main_tree ul {
    list-style: none;
    padding: 0px 0px 0px 25px; }
    .main_tree ul li.tree {
      font-size: 1em;
      letter-spacing: 0px; }
  .main_tree .tree_line.active .h_line {
    background: #bbeaaa;
    color: #000; }
    .main_tree .tree_line.active .h_line .btn_menu {
      display: block;
      color: #265e12; }
  .main_tree .tree_line .h_line {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    height: 25px;
    line-height: 25px; }
    .main_tree .tree_line .h_line .is_folder {
      background: #FFF;
      vertical-align: top;
      width: 25px;
      height: 25px;
      display: inline-block;
      text-align: center;
      color: #cccccc; }
    .main_tree .tree_line .h_line .is_folder.folder {
      cursor: pointer; }
      .main_tree .tree_line .h_line .is_folder.folder:hover {
        color: #4858ff; }
      .main_tree .tree_line .h_line .is_folder.folder:after {
        display: inline-block;
        content: '\25b8';
        font-family: 'fontello';
        font-size: 19.23077px;
        margin-left: 2.5px;
        line-height: 25px;
        vertical-align: top; }
      .main_tree .tree_line .h_line .is_folder.folder.open:after {
        content: '\25be'; }
    .main_tree .tree_line .h_line .box {
      display: inline-block;
      position: relative;
      height: 25px;
      width: 25px;
      background: #4858ff;
      text-align: center;
      cursor: pointer;
      color: white; }
      .main_tree .tree_line .h_line .box i {
        font-size: 12.5px; }
        .main_tree .tree_line .h_line .box i:before, .main_tree .tree_line .h_line .box i:after {
          margin: 0px !important; }
      .main_tree .tree_line .h_line .box:hover {
        color: #FFF; }
      .main_tree .tree_line .h_line .box .childs {
        color: #000;
        opacity: 0.6;
        position: absolute;
        margin-left: 25px;
        font-size: 7.14286px;
        right: 2px;
        bottom: 3px;
        line-height: 7.14286px; }
    .main_tree .tree_line .h_line .tree_icon {
      display: inline;
      color: #cccccc;
      opacity: 0.3;
      margin-left: 2.5px; }
    .main_tree .tree_line .h_line .title_wrap {
      white-space: nowrap;
      /* Запрещаем перенос строк */
      overflow: hidden;
      /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis;
      display: inline; }
      .main_tree .tree_line .h_line .title_wrap .title {
        white-space: nowrap;
        /* Запрещаем перенос строк */
        overflow: hidden;
        /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis;
        display: inline;
        margin-left: 8.33333px;
        vertical-align: top;
        min-height: 25px;
        display: inline;
        font-weight: bold;
        font-size: 11.36364px; }
    .main_tree .tree_line .h_line .note_line {
      display: inline-block;
      margin-left: 25px;
      color: #cccccc;
      font-weight: normal;
      font-family: Arial; }
    .main_tree .tree_line .h_line .btn_menu {
      display: none;
      -webkit-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      text-align: center;
      cursor: pointer;
      color: #b3b3b3; }
      .main_tree .tree_line .h_line .btn_menu:before {
        content: '\25aa';
        font-family: 'fontello';
        font-size: 12.5px;
        margin: 0px; }
  .main_tree .tree_line .settings {
    position: relative;
    margin-left: 25px;
    background: #4858ff; }
    .main_tree .tree_line .settings .left_set_line {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 200, 0.5)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 200, 0.5) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
      /* IE6-9 */
      width: 25px;
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0; }
    .main_tree .tree_line .settings .settings_content {
      margin-left: 25px;
      padding: 12.5px 25px;
      background: white;
      padding-bottom: 25px; }
      .main_tree .tree_line .settings .settings_content .settings_part {
        display: none;
        padding: 6.25px 0; }

.notselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.path_line {
  padding: 8px; }
  .path_line ul {
    list-style: none;
    white-space: nowrap;
    /* Запрещаем перенос строк */
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
    margin-right: 25px; }
    .path_line ul li {
      display: inline-block; }
      .path_line ul li .path_title {
        max-width: 10em;
        white-space: nowrap;
        /* Запрещаем перенос строк */
        overflow: hidden;
        /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis;
        cursor: pointer; }
        .path_line ul li .path_title:hover {
          text-decoration: underline; }
        .path_line ul li .path_title:before {
          content: '\e75e';
          font-family: 'fontello';
          display: inline-block;
          margin: 0px 5px; }
      .path_line ul li:first-child .path_title:before {
        content: none; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.allscreen {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1; }

.pomidor_wrap {
  display: inline-block;
  background: #FFF;
  text-align: right; }
  .pomidor_wrap .pomidor_timer {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: auto;
    left: auto;
    z-index: 1; }
    .pomidor_wrap .pomidor_timer .pomidor_timer_wrap {
      text-align: right;
      padding: 0px 12.5px; }
      .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_title {
        display: none;
        position: absolute;
        top: 50px;
        right: auto;
        bottom: auto;
        left: 0;
        line-height: 25px;
        font-size: 1.4em;
        color: #999999;
        letter-spacing: 1px; }
      .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_status {
        line-height: 12.5px;
        color: #999999;
        font-size: 1em;
        letter-spacing: 0.5px; }
      .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap {
        position: relative;
        display: inline-block;
        width: 25px;
        margin: 0px 8.33333px; }
        .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor {
          position: relative;
          left: 0px;
          width: 25px;
          height: 25px;
          border-radius: 25px;
          background: #d50800;
          cursor: pointer;
          border: 2px solid #d50800;
          overflow: hidden; }
          .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor.active {
            background-color: #FFF; }
          .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor .target {
            margin-top: 1px;
            text-align: center; }
            .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor .target i {
              vertical-align: middle;
              line-height: 6.25px;
              -webkit-transition: opacity 0.2s ease-out;
              -o-transition: opacity 0.2s ease-out;
              -moz-transition: opacity 0.2s ease-out;
              transition: opacity 0.2s ease-out;
              opacity: 1;
              font-size: 12.5px;
              color: #FFF; }
              .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor .target i:before {
                margin: 0px; }
          .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor.active .target i {
            opacity: 0; }
        .pomidor_wrap .pomidor_timer .pomidor_timer_wrap .pomidor_wrap .pomidor_white {
          position: absolute;
          top: 0px;
          right: 0;
          bottom: 0;
          left: 1px;
          display: inline-block;
          overflow: hidden;
          margin-left: -5px;
          width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.95); }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY 
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}
*/
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.make_favorit_button {
  color: #cccccc;
  cursor: pointer; }
  .make_favorit_button:hover {
    color: #b3b3b3; }

.mini_settings {
  padding: 8px; }
  .mini_settings .ms_title .settings_title {
    margin-left: 8.33333px;
    margin-top: 8.33333px;
    font-weight: bold; }
  .mini_settings .ms_inside {
    padding: 12.5px 25px; }
    .mini_settings .ms_inside .nm_settings_buttons {
      text-align: center;
      padding-top: 8px; }
      .mini_settings .ms_inside .nm_settings_buttons .nm_btn {
        display: inline-block;
        width: 63px;
        color: #cccccc;
        cursor: pointer; }
        .mini_settings .ms_inside .nm_settings_buttons .nm_btn i {
          font-size: 25px; }
          .mini_settings .ms_inside .nm_settings_buttons .nm_btn i:before {
            margin: 0; }
        .mini_settings .ms_inside .nm_settings_buttons .nm_btn.active {
          color: #000; }
        .mini_settings .ms_inside .nm_settings_buttons .nm_btn .nm_title {
          font-size: 8px;
          text-align: center;
          font-weight: bold; }
    .mini_settings .ms_inside .ms_icon {
      font-size: 1.2em;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      color: #000; }
      .mini_settings .ms_inside .ms_icon:hover {
        color: #4858ff; }
    .mini_settings .ms_inside .ms_colors {
      margin-top: 8px; }
      .mini_settings .ms_inside .ms_colors .ms_color_label {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 0px;
        cursor: pointer; }
        .mini_settings .ms_inside .ms_colors .ms_color_label:nth-child(odd) {
          margin-right: 8px; }
        .mini_settings .ms_inside .ms_colors .ms_color_label.main {
          margin-right: 8px; }
          .mini_settings .ms_inside .ms_colors .ms_color_label.main:after {
            content: '\e825';
            font-family: 'fontello';
            color: #FFF;
            width: 25px;
            text-align: center;
            line-height: 25px;
            position: absolute; }
  .mini_settings .note_mini_settings_panel {
    padding: 8px 0;
    min-height: 10em; }

.redactor_box {
  border: none; }

.redactor_editor {
  border: none;
  border-bottom: 1px dashed #dedede;
  min-height: 10em; }

#toolbar {
  min-height: 26px; }

.redactor_toolbar {
  width: 100%;
  background: none;
  background: rgba(250, 250, 250, 0.98);
  border: none !important;
  border-bottom: 1px solid #cccccc !important;
  border-top: 1px solid #cccccc !important;
  padding-left: 0px !important; }
  .redactor_toolbar li {
    font-size: 14px; }
    .redactor_toolbar li a {
      padding: 5px 5px !important; }
  .redactor_toolbar .redactor_separator {
    height: 31px !important;
    border-right: none !important; }
  .redactor_toolbar.redactor_fixed_box {
    border-top: none !important; }

.editor_wrap {
  padding: 0 3px 0px 0;
  font-family: "Ubuntu", Verdana; }
  .editor_wrap img {
    max-width: 90%; }

.note_tasks {
  margin-top: 16px; }

.datepast {
  background: rgba(248, 0, 13, 0.2) !important;
  border: 2px solid #f5a1aa !important; }

.datetoday {
  background: #feaa0c !important;
  border: 2px solid #feaa0c !important; }

.datetoday.past {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0.85, #ffd5b5), color-stop(0.95, rgba(248, 0, 13, 0.2))) !important;
  border: 2px solid #feaa0c !important; }

.nodate {
  background: #FFF !important;
  border: 2px solid #fc9a0e !important;
  color: #fc9a0e !important;
  font-weight: bold !important; }

.one_task {
  white-space: nowrap;
  margin-bottom: 16px; }
  .one_task.did .title {
    text-decoration: line-through;
    color: #cccccc; }
  .one_task.did .task_date {
    background: #FFF !important;
    border: 2px solid #cccccc !important;
    color: #cccccc !important;
    background-image: none !important; }
  .one_task .left_part {
    display: inline-block;
    vertical-align: top; }
  .one_task .right_part {
    display: inline-block;
    padding-left: 8px;
    margin-left: 4px; }
    .one_task .right_part .task_date {
      display: inline-block;
      background: rgba(0, 0, 255, 0.1);
      font-size: 10px;
      color: #000;
      line-height: 16px;
      vertical-align: baseline;
      height: 20px;
      width: 60px;
      text-align: center;
      border-radius: 10px;
      border: 2px solid #c9c5ff;
      cursor: pointer;
      margin-right: 4px; }
    .one_task .right_part .title {
      display: inline;
      white-space: normal; }

.wrapper_line {
  position: relative;
  white-space: nowrap; }
  .wrapper_line .box {
    display: inline-block;
    width: 30px;
    min-height: 30px; }
  .wrapper_line .box:before {
    content: '';
    position: absolute;
    min-height: 30px;
    left: 0px;
    width: 30px;
    bottom: 0px;
    top: 0px;
    background: green; }
  .wrapper_line .title_wrap {
    vertical-align: top;
    display: inline-block;
    line-height: 15px; }
    .wrapper_line .title_wrap .title {
      content: "";
      min-width: 60px;
      min-height: 30px;
      background: red;
      vertical-align: baseline;
      display: inline;
      white-space: normal; }
