<div class="mini_settings" ng-controller="save_tree_db_editor">

	<div class="right_menu_button_w">
		<i class="icon-star make_favorit_button">
		</i><i class="icon-th-list r_menu_button"></i>
	</div>
	
	<div class="ms_title">
		<input class="note_checkbox" type="checkbox" ng-model="db.main_node[set.focus_edit].did"> 
		<span class="settings_title_wrap">
			<span class="settings_title" contenteditable="true" ng-model="db.main_node[set.focus_edit].title"></span>
		</span>
	</div>

	<div class="ms_inside">
		<h10 ng-click="set.mini_settings_show = !set.mini_settings_show" ng-class="{open:set.mini_settings_show}">Параметры</h10>

		<div class="note_mini_settings slide_left" ng-if="set.mini_settings_show">
			<div class="nm_settings_buttons">
				<div class="nm_btn" ng-repeat="btn in set.mini_settings_btn" ng-class="{active:btn.id == set.mini_settings_btn_active}" ng-click="set.mini_settings_btn_active_old = set.mini_settings_btn_active; set.mini_settings_btn_active = btn.id;"> 
					<i class="{{btn.icon}}"></i>
					<div class="nm_title">{{btn.title}}</div>
				</div>
			</div>
			<div class="hor_line"></div>

			<!-- /////////////////////////////////////////// -->

			<div style="position:relative" ng-init="set.mini_settings_btn_active_old=0">
				<div class="note_mini_settings_panel" ng-if="set.mini_settings_btn_active==0" ng-class="{'slide_left':set.mini_settings_btn_active_old>set.mini_settings_btn_active,'slide_right':set.mini_settings_btn_active_old<=set.mini_settings_btn_active}">
					<div ng-include="'views/subviews/ms/view_ms_0.html'"></div>
				</div>

				<div class="note_mini_settings_panel" ng-if="set.mini_settings_btn_active==1" ng-class="{'slide_left':set.mini_settings_btn_active_old>=set.mini_settings_btn_active,'slide_right':set.mini_settings_btn_active_old<set.mini_settings_btn_active}">
					<div ng-include="'views/subviews/ms/view_ms_1.html'"></div>
				</div>

				<div class="note_mini_settings_panel" ng-if="set.mini_settings_btn_active==2"  ng-class="{'slide_left':set.mini_settings_btn_active_old>=set.mini_settings_btn_active,'slide_right':set.mini_settings_btn_active_old<set.mini_settings_btn_active}">
					<div ng-include="'views/subviews/ms/view_ms_2.html'"></div>
				</div>

				<div class="note_mini_settings_panel" ng-if="set.mini_settings_btn_active==3" ng-class="{'slide_left':set.mini_settings_btn_active_old>=set.mini_settings_btn_active,'slide_right':set.mini_settings_btn_active_old<set.mini_settings_btn_active}">
					<div ng-include="'views/subviews/ms/view_ms_3.html'"></div>
				</div>

				<div class="note_mini_settings_panel" ng-if="set.mini_settings_btn_active==4" ng-class="{'slide_left':set.mini_settings_btn_active_old>=set.mini_settings_btn_active,'slide_right':set.mini_settings_btn_active_old<set.mini_settings_btn_active}">
					<div ng-include="'views/subviews/ms/view_ms_4.html'"></div>
				</div>
			</div>

		</div>



		<h10 ng-click="set.mini_tasks_hide = !set.mini_tasks_hide" ng-class="{open:set.mini_tasks_show}">Дела (<span ng-if="count">{{db.main_node[set.focus_edit].id}} 1 из </span>{{(fn.service.db_tree.getTasksByTreeId(db.main_node[set.focus_edit]._id, false)).length}})</h10>
		<div class="note_mini_settings">
			<div ng-include="'views/subviews/ms/ms_tasks.html'"></div>
		</div>

	</div>


</div>