<div class="tree_line">
	<div class="h_line">
		<div class="is_folder" ng-class="{open:tree.open, folder:tree.childs}" ng-click="tree.open=!tree.open">
		</div><div class="box" ng-click="tree.settings=!tree.settings">
			<div class="childs">{{tree.childs}}</div>
			<i class="{{tree.icon}}"></i>
		</div>
		<div class="title" ng-click="tree.open=!tree.open">{{tree.title}}</div>
		<div class="note_line">{{tree.note}}</div>
	</div>

	<div class="settings"  jq-show-effect="tree.settings" jq-options="{type:'slide', duration:300, delay:0, hideImmediately: false}">
		<div class="left_set_line" ng-click="tree.settings=false"></div>
		<div class="settings_content">
			<h10 ng-class="{open:tree.set_part0}" ng-click="tree.set_part0=!tree.set_part0">Поделиться</h10>
			<div class="settings_part" jq-show-effect="tree.set_part0" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				<a href="http://4tree.ru/sx4d">http://4tree.ru/sx4d</a>
			</div>

			<h10 ng-class="{open:tree.set_part1}" ng-click="tree.set_part1=!tree.set_part1">Поручить</h10>
			<div class="settings_part" jq-show-effect="tree.set_part1" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Поручения
			</div>

			<h10 ng-class="{open:tree.set_part2}" ng-click="tree.set_part2=!tree.set_part2">Заметка</h10>
			<div class="settings_part" jq-show-effect="tree.set_part2" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				<div ng-include="set.text_template" contenteditable="true"></div>
			</div>

			<h10 ng-class="{open:tree.set_part3}" ng-click="tree.set_part3=!tree.set_part3">Комментарии</h10>
			<div class="settings_part" jq-show-effect="tree.set_part3" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Комментарии
			</div>
						
			<h10 ng-class="{open:tree.set_part4}" ng-click="tree.set_part4=!tree.set_part4">Дела</h10>
			<div class="settings_part" jq-show-effect="tree.set_part4" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Дела
			</div>
						
			<h10 ng-class="{open:tree.set_part5}" ng-click="tree.set_part5=!tree.set_part5">Настройки</h10>
			<div class="settings_part" jq-show-effect="tree.set_part5" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Настройки
			</div>
						
		</div>
	</div>

</div>

<ul jq-show-effect="tree.open" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
	<li class="tree" ng-repeat="tree in fn.jsFindByParent(tree.id)" ng-include="set.tree_one_line_template"></li>
</ul>
