<div class="tree_line" ng-controller="save_tree_db" ng-class="{active:db.main_node.id==tree.id}">
	<div class="h_line" ng-click="db.main_node = tree">
		<div class="is_folder" ng-class="{open:tree._open, folder:tree._childs}" ng-click="tree._open=!tree._open">
		</div><div class="box" ng-click="fn.jsTreeFocus(tree.id)">
			<div class="tree_icon">
				<i class="icon-heart-empty"></i>
			</div>
			<div class="childs">{{tree._childs}}</div>
		</div>
		<div class="title_wrap">
			<div title="{{tree.id}}" class="title" contenteditable="true" ng-model="tree.title" ng-click="tree._open=!tree._open"></div>
		</div>

		<div class="note_line"></div>
		<div class="btn_menu" ng-click="tree._settings=!tree._settings"></div>
	</div>




	<div class="settings" ng-if="tree._settings" ng-show="tree._settings" jq-show-effect-off="tree._settings" jq-options-off="{type:'slide', duration:300, delay:0, hideImmediately: false}">
		<div class="left__set_line" ng-click="tree._settings=false"></div>
		<div class="settings_content">
			<h10 ng-class="{open:tree._set_part0}" ng-click="tree._set_part0=!tree._set_part0">Поделиться</h10>
			<div class="settings_part" jq-show-effect="tree._set_part0" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				<a href="http://4tree.ru/sx4d">http://4tree.ru/sx4d</a><br>
				<div ng-repeat="share in tree.share" >
					<input ng-model="share.link"> {{share.link._t}}
				</div>
			</div>

			<h10 ng-class="{open:tree._set_part1}" ng-click="tree._set_part1=!tree._set_part1">Поручить</h10>
			<div class="settings_part" jq-show-effect="tree._set_part1" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Поручения
			</div>

			<h10 ng-class="{open:tree._set_part2}" ng-click="tree._set_part2=!tree._set_part2; set.refresh = set.refresh+1">Заметка</h10>
			<div class="settings_part" jq-show-effect="tree._set_part2" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				<div ng-model="tree.text" contenteditable="true"></div>
			</div>

			<h10 ng-class="{open:tree._set_part3}" ng-click="tree._set_part3=!tree._set_part3">Комментарии</h10>
			<div class="settings_part" jq-show-effect="tree._set_part3" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Комментарии
			</div>
						
			<h10 ng-class="{open:tree._set_part4}" ng-click="tree._set_part4=!tree._set_part4">Дела</h10>
			<div class="settings_part" jq-show-effect="tree._set_part4" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Дела
			</div>
						
			<h10 ng-class="{open:tree._set_part5}" ng-click="tree._set_part5=!tree._set_part5">Настройки</h10>
			<div class="settings_part" jq-show-effect="tree._set_part5" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
				Настройки
			</div>
						
		</div>
	</div>

</div>

<ul ng-if="tree._open&&tree._childs" jq-show-effect-off="tree._open" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}">
	<li class="tree" sly-repeat="tree in tree.childs">
		<div ng-include="'views/subviews/view_one_line.html'"></div>
	</li>
</ul>
