<div class="note_tasks">
	{{(tasks = fn.service.db_tree.getTasksByTreeId(db.main_node.id, !set.mini_tasks_show)).t}}
	<div ng-repeat="task in tasks" ng-include="'views/subviews/task_one_line1.html'"></div>
	<textarea class="add_task_input" placeholder="Добавить дело..."></textarea>
</div>



<!-- Begin Templates -->
<script type="text/ng-template" id="views/subviews/task_one_line1.html">

	<div class="one_task" ng-class="{did:task.did}">
		<div class="left_part">
			<input type="checkbox" ng-model="task.did" ng-checked="task.did">
		</div>
		<div class="right_part">
			<a ng-if="dt = fn.service.calendarBox.getDays(task.date1)"></a>
			<div class="task_date {{dt.class}}" style="{{dt.image}}">{{dt.text}}</div>
			<div class="title">{{task.title}}</div>
		</div>
	</div>

</script>
<!-- End Templates -->
