<table class="table_settings">
	<tr>
		<th class="left_label">
		Обзор каждые:
		</th>
		<td>
			<div class="input-group every input-group-sm">
		      <input type="number" class="form-control" value="2">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">нед.<span class="caret"></span></button>
		        <ul class="dropdown-menu pull-right">
		          <li><a href="#">дня</a></li>
		          <li><a href="#">недели</a></li>
		          <li><a href="#">месяца</a></li>
		          <li><a href="#">года</a></li>
		        </ul>
		      </div><!-- /btn-group -->
		    </div><!-- /input-group -->
		</td>
	</tr>
	<tr>
		<th>
			Следующий:
		</th>
		<td>
			<div class="daterange_diff">
			30.08.2014 <a ng-if="dt1 = fn.service.calendarBox.getDays(db.main_node[set.focus_edit].dates.startDate._d,'days')"></a>
				<div class="task_date right {{dt1.class}}" style="{{dt1.image}}">{{dt1.text}}</div>
				<a class="">пропустить</a>
			</div>
		</td>
	</tr>

	<tr>
		<th>
		Отметить:
		</th>
		<td>
		<input type="checkbox" id="show_in_todo" ng-model="db.main_node[set.focus_edit].hide_in_todo"> <label for="show_in_todo">Обзор проведён сегодня</label>
		</td>
	</tr>

	<tr>
		<th></th>
		<td><h10 class="mini" ng-class="{open:set.stat_open}" ng-click="set.stat_open = !set.stat_open">Статистика</h10></td>
	</tr>

	<tr ng-if="set.stat_open">
		<th>
		Обзор был:
		</th>
		<td>
		12.07.2014, 21.08.2014, 28.09.2014
		</td>
	</tr>

	<tr ng-if="set.stat_open">
		<th>
		Изменение:
		</th>
		<td>
		12.08.14 <i>(8 дней назад)</i>
		</td>
	</tr>

	<tr ng-if="set.stat_open">
		<th>
		Создание:
		</th>
		<td>
		18.09.14 <i>(3 дня назад)</i>
		</td>
	</tr>

	<tr ng-if="set.stat_open">
		<th>
		Выполнение:
		</th>
		<td>
		11.02.14 <i>(2 дня назад)</i>
		</td>
	</tr>
</table>


<table class="table_settings">
	<tr>
		<td class="buttons_panel" width="100%" col="2">
			<a class="btn btn-default btn-xs">Переместить</a>
			<a class="btn btn-default btn-xs">Дублировать</a>
			<a class="btn btn-default btn-xs">В Архив</a>
			<a class="btn btn-default btn-xs">Удалить</a>
		</td>
	</tr>
</table>