<table class="table_settings">
	<tr  ng-if="false">
		<th>
		Даты:
		</th>
		<td>
		</td>
	</tr>
	<tr>
		<th>Срок:</th>
		<td>
		</td>
	</tr>
	<tr>
		<th class="left_label">Важность:</th>

		<td class="right_content"
            ng-init="">
			<div range-slider
                 min="0"
                 max="100"
                 model-max="db.main_node[set.focus_edit].importance"
                 pin-handle="min"
                 show-values="false">
            </div>
			<div class="importance">{{db.main_node[set.focus_edit].importance}}%</div>

		</td>
	</tr>
	<tr>
		<th>Статус:</th>
		<td>
			  <div class="btn-group">
			    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
			      Выполнен на 25%
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			      <li class="dropdown-header">Процент выполнения:</li>
			      <li><a>Выполнен на 5%</a></li>
			      <li><a>Выполнен на 25%</a></li>
			      <li><a>Выполнен на 50%</a></li>
			      <li><a>Выполнен на 75%</a></li>
			      <li><a>Выполнен на 100%</a></li>
			      <li class="divider"></li>
			      <li class="dropdown-header">Статус проекта:</li>
			      <li><a>Заметка</a></li>
			      <li><a>Запланирован</a></li>
			      <li><a>Пауза</a></li>
			    </ul>
			  </div>
		</td>
	</tr>
	<tr>
		<th>
		</th>
		<td>
			<input type="checkbox" id="show_in_todo" ng-model="db.main_node[set.focus_edit].hide_in_todo"> <label for="show_in_todo">Скрыть в «To-do»</label>
		</td>
	</tr>
	<tr>
		<th>
			Теги:
		</th>
		<td>

			<tags-input ng-if="false" ng-model="db.main_node[set.focus_edit].tags">
				<auto-complete debounce-delay="10" max-results-to-show="50" min-length="0" source="fn.loadTags($query)"></auto-complete>
			</tags-input>

		</td>
	</tr>
</table>
