<h9>Иконка:</h9>
<div class="ms_icon" ng-repeat="icon in db.icons_collection | limitTo: (set.ms_show_icon_collapse?set.ms_show_icon_limit:500)">
	<i class="{{icon}}" ng-click="db.main_node[tmp.focus_edit].icon = icon"></i>
</div>
<a ng-if="set.ms_show_icon_collapse" ng-click="set.ms_show_icon_collapse=false"><i class="icon-right-open-1"></i></a>
<a ng-if="!set.ms_show_icon_collapse" ng-click="set.ms_show_icon_collapse=true"><i class="icon-left-open-1"></i></a>

<h9>Цвет:</h9>
<div class="ms_colors">
	<div class="ms_color_label" ng-repeat="label in db.icons_collection_colors"
         style="background:{{label.color}};color:{{label.icon_color}}"
         ng-class="{active: db.main_node[tmp.focus_edit].color==label.color}"
         ng-click="db.main_node[tmp.focus_edit].color = label.color; db.main_node[tmp.focus_edit].icon_color = label.icon_color">
    </div>
    <div class="ms_color_label"
         ng-click="db.main_node[tmp.focus_edit].color=undefinded; db.main_node[tmp.focus_edit].icon_color=undefined">
        <i class="icon-cancel"></i>
    </div>
</div>