<div class="note_tasks" ng-controller="editor_tasks">
	<div ng-repeat="task in getTasks() track by $index" ng-include="'views/subviews/task_one_line1.html'"></div>
	<textarea class="add_task_input" placeholder="Добавить дело..." hotkey="{'Enter':fn.service.db_tree.jsAddTask}" ng-model="new_task_title"></textarea>
</div>

<!-- Begin Templates -->
<script type="text/ng-template" id="views/subviews/task_one_line1.html">

	<div class="one_task"
         ng-class="{did:task.did, active:(task._id==set.set_task._id),
                    most_important:(task.importance>90&&task.importance<95),
                    most_important100:(task.importance>=95),
                    next_action: (tasks_by_id.next_action[0]._id == task._id)
                    }" ng-controller="save_task_db_simple">
		<div class="left_part">
			<input type="checkbox" ng-model="task.did" ng-checked="task.did">
		</div>
		<div class="right_part">
            <div class="title_wrap">
                <div class="taskdate_wrap" ng-click="set.set_task = task" mini-date ng-model="task"></div>
                <span class="title" contenteditable="true" ng-model="task.title" style="color:{{task.color}}"></span>
                <span class="importance" ng-if="task.importance!=50">{{task.importance}}%</span>
            </div>
		</div>
	</div>

</script>
<!-- End Templates -->
