<div class="path_main notselectable">
    <div class="path_element" ng-repeat="path in pt = fn.service.db_tree.jsFind(set.main_parent_id)._path">

      <ol class="path_ul">
        <li ng-repeat="path_element in fn.jsFindByParent(path)" ng-class="{active:(selected = pt.indexOf(path_element._id)!=-1), isFolder:path_element._childs>0};" ng-click="set.main_parent_id = path_element._id; db.main_node = path_element;">
          <div class="title">{{path_element.title}} <b>({{path_element._childs}})</b></div>
        </li>
      </ol>

    </div>

</div>
<center>
  <a class="btn btn-default" ng-click="fn.service.db_tree.jsExpand(set.main_parent_id, false)">
    <i class="glyphicon glyphicon-minus-sign"></i>
  </a>
  <a class="btn btn-default" ng-click="fn.service.db_tree.jsExpand(set.main_parent_id, true)">
    <i class="glyphicon glyphicon-plus-sign"></i>
  </a>
</center>
