@charset "UTF-8";
// Главное окно приложения

@import 'mymixins';

.cards {
  //background-image: url(../images/cork.jpg);
  //background-size: 50px 50px;
  //background-attachment: scroll; 
  //text-align: center;
  background: #f3f2ff;
  .path_element {
    text-align: center;
  }
  .path_ul {
    list-style: none;
    //background: rgba(255,255,255,0.5);
    margin: 0;
    &:after {
      content: '\e864';
      font-family: 'fontello';
      font-size: 0.8em;
      line-height: 1.5em;
      display: block;
      color: $dark_gray;
    }
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      cursor: pointer;
      &.active {
        .title {
          background: $dark_gray;
          color: #FFF;
          border-radius: 0;
          max-width: 300px;
        }
      }
      .title {
        padding: 0 $padding;
        line-height: 2em;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        font-weight: bold;
        b {
          font-weight: normal;
        }
      }
    }
  }           
  .tree2 {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background: #FFF;
    margin: $grid;
    @include box-shadow();
    .folder {
      .card_header {
        background: $light_gray;
      }
      .title {
        font-weight: bold;
        .cnt {
          font-weight: normal;
        }
      }
    }
    .card_header {
      border-bottom: 1px solid $gray;
      position: relative;
      .col1 {
        position: absolute;
        display: inline-block;
        vertical-align: top;
        left: 0;
        top: 0;
        bottom: 0;
        width: $tree_grid;
        min-height: $tree_grid;
        text-align: center;      
      }
      .col2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: $tree_grid;
        min-height: $tree_grid;
        display: inline-block;
        vertical-align: top;
        width: $tree_grid;
        text-align: center;      
        i {
          display: inline-block;
          margin-top: 2px;
        }
      }  
      .col3 {
        margin-left: $tree_grid * 2;
        white-space: normal;
        font-size: $tree_font_size;
        vertical-align: top;
        display: inline-block;
        .title {
          margin-left: round($tree_grid/3);
          padding-top: round($tree_grid/7);
          padding-bottom: round($tree_grid/7);
          padding-right: round($padding);
          outline: none;
        }        
      }    
    }
    .col_text {
      height: 150px;
      overflow-y: auto;
      padding: $padding;
      img {
        max-width: 100%;
      }
    }
  }
}