@charset "UTF-8";
// Главное окно приложения

@import 'mymixins';

.cards {
  background-image: url(../images/cork.jpg);
  background-size: 50px 50px;
  background-attachment: scroll; 
  //text-align: center;
  .path_element {
    text-align: center;
  }
  .path_ul {
    margin: round($padding/2) 0;
    padding: $padding*2;
    list-style: none;
    //text-align: center;
    //background: rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.15);
    width: 100%;
    display: inline-block;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      cursor: pointer;
      &.active {
        .title {
          background: $main_color;
          color: #FFF;
        }
        .text {
          display: none;
          min-height: 100px;
          background: #FFF;
        }
      }
      .title {
        padding: round($padding/2) $padding*2;
        background: #FFF;
        margin: 0 $padding;
        width: 150px;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        @include box-shadow();        
      }
    }
  }           
  .tree2 {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background: #FFF;
    margin: $grid;
    @include box-shadow();
    .folder {
      .card_header {
        background: $light_gray;
      }
      .title {
        font-weight: bold;
      }
    }
    .card_header {
      border-bottom: 1px solid $gray;
      position: relative;
      .col1 {
        position: absolute;
        display: inline-block;
        vertical-align: top;
        left: 0;
        top: 0;
        bottom: 0;
        width: $tree_grid;
        min-height: $tree_grid;
        text-align: center;      
      }
      .col2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: $tree_grid;
        min-height: $tree_grid;
        display: inline-block;
        vertical-align: top;
        width: $tree_grid;
        text-align: center;      
        i {
          display: inline-block;
          margin-top: 2px;
        }
      }  
      .col3 {
        margin-left: $tree_grid * 2;
        white-space: normal;
        font-size: $tree_font_size;
        vertical-align: top;
        display: inline-block;
        .title {
          margin-left: round($tree_grid/3);
          padding-top: round($tree_grid/7);
          padding-bottom: round($tree_grid/7);
          padding-right: round($padding);
          outline: none;
        }        
      }    
    }
    .col_text {
      height: 150px;
      overflow-y: auto;
      padding: $padding;
      img {
        max-width: 100%;
      }
    }
  }
}