@charset "UTF-8";

.redactor_box {
  border: none;
  z-index: 0 !important;
}

.redactor_editor {
  border: none;
  border-bottom: 1px dashed $light_gray;
  min-height: 10em;
  
}

.redactor_toolbar.redactor-toolbar-external {
  z-index: 0;
}


$border-color: darken($gray, 15%);

#toolbar {
  //position: absolute;
  //z-index: 1;
  min-height: 26px;
}

.redactor_toolbar {
  width: 100%;
  background: none;
  background: rgba(250,250,250,0.98);
  border: none !important;
  border-bottom: 1px solid $gray !important;
  border-top: 1px solid $gray !important;
  padding-left: 0px !important;
  li {
    font-size: 14px;
    a {
      padding: 5px 5px !important;
    }
    //padding-top: 3px !important;
  }
  .redactor_separator {
    height: 31px !important;
    border-right: none !important;
  }
  &.redactor_fixed_box {
    border-top: none !important;
  }
}

.editor_wrap {
    padding: 0 3px 0px 0;
    font-family: $font_family;
    img {
        max-width: 90%;
    }

}
