@charset "UTF-8";

//параметры
@import 'settings';

.tabs_top_scrollable {
  background: $tabs_space_background;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tab-state-highlight {
  background: red;
  height: $grid;
  width: 5px;
  line-height: $grid;
  display: inline-block;
  vertical-align: top;
}

.top_tabs {
  height: $grid;
  .ul_main {
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    .li_tab {
      background: $top_tabs_background;
      position: relative;
      line-height: $grid;
      height: $grid;
      min-width: 3em;
      max-width: 15em;
      vertical-align: middle;
      display: inline-block;
      padding: 0;
      white-space: nowrap;
      border-right: 1px solid $border-color;
      cursor: pointer;
      &.only_icon {
        width: 40px !important;
        .title {
          display: none !important;
        }
        .title_wrap {
          margin: 0;
          left: 0;
        }
        .close_btn {
          display: none !important;
        }
        .tab_color_line {
          width: 100%;
          margin: 0;
          height: 100%;
          border-radius: 0;
          opacity: 0.5;
        }
      }
      &:last-child {
        //border-right: none;
      }
      .title_wrap {
        display: inline-block;
        color: $top_tabs_color;
        position: absolute;
        left: $padding;
        right: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 2em;
      }
      &:hover {
        .close_btn {
          opacity: 1;
        }
      }
      &.active {
        background: $top_tabs_background_color_active;
        .title {
          color: $top_tabs_color_active;
        }
        .tab_color_line {
          opacity: 1;
        }
      }
      .close_btn {
        opacity: 0;
        @include animate_me(opacity, 0.3s);
        position: absolute;
        right: 0.1em;
        display: inline-block;
        color: $top_tabs_color;
        vertical-align: top;
        width: 1.6em;
        padding: 0;
        &:after {
          line-height: $grid;
          vertical-align: middle;
          content: '\2715';
          font-family: 'fontello';
          height: $grid;
        }

      }
      .title {
      }
      .tab_color_line {
        display: inline-block;
        width: $grid_label;
        text-align: center;
        height: $grid_label+round($padding/2) - 2px;
        vertical-align: top;
        margin-right: round( $padding/2 );
        opacity: 1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        i:before {
          margin: 0;
        }
      }
      .dropdown {
        position: fixed;
        top: $grid - 2px;
        z-index: 1000;
      }
    }
  }

}
