@charset "UTF-8";

//параметры
@import 'settings';

.tabs_top_scrollable {
  background: $tabs_space_background;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tab-state-highlight {
  background: red;
  height: $grid;
  width: 27px;
  line-height: $grid;
  display: inline-block;
  vertical-align: top;
}

.top_tabs {
  height: $grid;
  .pull-right {
    //right: 0px
    margin-right: -25px;
  }
  .ul_main {
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    .li_tab {
      background: $top_tabs_background;
      position: relative;
      line-height: $grid;
      height: $grid;
      min-width: 20px;
      max-width: 13em;
      vertical-align: middle;
      display: inline-block;
      padding: 0;
      white-space: nowrap;
      border-right: 1px solid $border-color;
      cursor: pointer;
      @include animate_me(width, 0.5s);
      &.only_icon {
        width: 27px !important;
        .title {
          display: none !important;
        }
        .title_wrap {
          margin: 0;
          left: 0;
          width: 26px;
          text-overflow: clip;
        }
        .close_btn {
          display: none !important;
        }
        .tab_color_line {
          font-size: 1.1em;
          width: 100%;
          margin: 0;
          height: 100% !important;
          border-radius: 0;
          opacity: 0.6;
          line-height: inherit;
        }
        &:hover {
          .tab_color_line {
            opacity: 1;
          }
          .title {
            background: rgba(#000,0.8) !important;
            color: #FFF !important;
            display: inline-block !important;
            position: fixed !important;
            margin-top: 25px;
            margin-left: -26px;
            padding: 0 $padding*2;
            height: 15px;
            line-height: 15px;
            font-size: 9px;
            z-index: 3;
          }
        }
      }
      &.need_mini_title {
        .tab_color_line {
          display: none;
        }
        .title_wrap {
          //text-overflow: clip !important;
          margin-left: $padding/2;
        }
        .title {
          display: inline !important;
        }
      }
      &:last-child {
        //border-right: none;
      }
      .title_wrap {
        display: inline-block;
        color: $top_tabs_color;
        position: absolute;
        left: $padding;
        right: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 2em;
      }
      &:hover {
        .close_btn {
          opacity: 1;
        }
      }
      &.active {
        background: $top_tabs_background_color_active;
        .title {
          color: $top_tabs_color_active;
        }
        .tab_color_line {
          opacity: 1;
          color: #FFF;
        }
      }
      .close_btn {
        opacity: 0.5;
        @include animate_me(opacity, 0.3s);
        position: absolute;
        right: 0.1em;
        display: inline-block;
        color: $top_tabs_color;
        vertical-align: top;
        width: 1.6em;
        padding: 0;
        &:after {
          line-height: $grid;
          vertical-align: middle;
          content: '\2715';
          font-family: 'fontello';
          height: $grid;
        }

      }
      &.tmp {
        .title {
          font-style: italic;
        }
      }
      .tab_color_line {
        display: inline-block;
        margin-top: 4px;
        width: $grid_label - 4px;
        font-size: 10px;
        height: $grid_label - 4px;
        line-height: $grid_label - 4px;
        text-align: center;
        vertical-align: top;
        margin-right: round( $padding/3 );
        opacity: 0.6;
        i:before {
          margin: 0;
        }
      }
      .dropdown {
        position: fixed;
        top: $grid - 2px;
        z-index: 1000;
      }
    }
  }

}

.blured {
}

.all_settings {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.55);
  .settings_wrap {
    position: absolute;
    background: rgba(255,255,255,1);
    bottom: 0px;
    left: 100px;
    right: 100px;
    height: 500px;
    @include box-shadow();
    .close_btn {
      position: absolute;
      right: $padding;
      top: $padding;
      color: $gray;
      cursor: pointer;
      width: $grid*2;
      height: $grid*2;
      text-align: right;
      font-size: 1.2em;
      z-index: 1;
      &:hover {
        color: $main_color;
      }
    }
    label {
      font-weight: normal;
    }
    h1 {
      font-size: 1.5em;
      color: $main_color;
      margin: $padding 0;
      padding: $padding*2 0;
      border-bottom: 2px solid #EEE;
    }
    h2 {
      font-size: 1.2em;
      margin: $padding*2 0 $padding 0;
      color: $main_color;
    }
    .left_panel {
      z-index: 1;
      @include absolute_me(0,0,0,0);
      width: $settings_left_panel_width;
      background: #EEE;
      padding: $padding $padding*2;
      h1 {
        margin-left: $padding;
      }
      .left_menu {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: $padding;
          color: $dark_gray;
          cursor: pointer;
          &.active {
            color: #000;
          }
        }
      }
    }
    .right_panel {
      position: absolute;
      @include absolute_me(0,0,0,0);
      overflow-y: auto;
      padding: $padding;
      padding-left: $settings_left_panel_width + $grid;
      .content {
        .right_settings {
          list-style: none;
          margin: 0;
          padding: 0;
          ul {
            margin: 0;
            padding: 0 $grid;
            list-style: none;
          }
        }
        .explain {
          display: none;
        }
        .status {
          color: $gray;
        }
        li:hover {
          .explain {
            display: block;
            position: absolute;
            left: 0px;
            top: 200px;
            color: $main_color;
            max-height: 200px;
            overflow-y: auto;
            width: $settings_left_panel_width;
            padding: $padding*2;
            z-index: 2;
          }
        }
      }
    }
  }
}