@charset "UTF-8";

//параметры
//@import 'settings'; 

/* Space out content a bit */
body, html {
    padding: 0px;
    margin: 0px;
    font-size: $tree_font_size;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    bottom: 0;
    width:100%;
    height: 100% !important;
}

/* Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/


//мои миксины
@import 'mymixins'; 

@import 'global'; 

//главное окно
@import 'main_window'; 

//иконки календаря в верхней строчке
@import 'calendar_boxes';

//план дня
@import 'plan_of_day';

@import 'tree_one_line';

@import 'path_line';

@import 'pomidor_timer';

@import 'view_mini_settings';

//мои миксины
@import 'editor'; 

@import 'one_task';

@import 'mindmap';

@import 'cards';

@import 'bigcalendar';

@import 'path_main';

@import 'datetimepicker';

@import 'week_calendar';

@import 'task_settings';

@import 'login';

.wrapper_line {
    position: relative;
    white-space: nowrap;
    .box {
        display: inline-block;
        width: 30px;
        min-height: 30px;
    }
    .box:before {
        content: '';
        position: absolute;
        min-height: 30px;
        left: 0px;
        width: 30px;
        bottom: 0px;
        top: 0px;
        background: green;
    }
    .title_wrap {
        vertical-align: top;
        display: inline-block;
        line-height: 15px;
        .title {
            content: "";
            min-width: 60px;
            min-height: 30px;
            background: red;
            vertical-align: baseline;
            display: inline;
            white-space: normal;
        }
    }

}









