@charset "UTF-8";
// Главное окно приложения

//@import 'settings';
@import 'mymixins';

#w_main {
    @include absolute_me(0, 0, 0, 0);
    #w_header_main {
        //hello
        @include animate_me(height, 0.1s);
        @include absolute_me(0, 0, auto, 0);
        height: $header_height_closed;
        z-index: 3;
        .navbar {
            z-index: 2;
            margin: 0px;
            background: #FFF !important;
            border-color: $main_color !important;
            min-height: 0px;
            min-height: $header_height_closed;
            .navbar-toggle {
                padding: 4px 3px;
            }
        }
        .header_menu {
            .dropdown, .dropdown-menu {
                text-align: left;
                margin-top: round($grid/2) - 1px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                .replace_a {
                    padding-left: 20px;
                    input {
                        display: inline-block;
                        vertical-align: top;                        
                    }
                    label {
                        padding-left: 10px;
                        font-weight: normal;
                        cursor: pointer;
                    }
                }
                li {
                    white-space: nowrap;
                }
                .hotkey {
                    display: inline-block;
                    margin-left: $padding;
                    color: $gray;
                    text-align: right;
                }
            }
            .pull-right.dropdown-menu{
                margin-top: 2px;
            }
            .search_in_header {
                width: 250%;
                background: #fefffe;
                padding: $padding;
                padding-left: $grid;
                margin-top: 5px;
                max-height: 500px;
                overflow-y: auto;
                li {
                    h10 {
                        font-size: 0.85em;
                        font-weight: normal;
                        padding-bottom: round($padding/2);
                    }
                    .title {
                        font-size: 0.85em;
                        white-space:normal;
                        padding: round($padding/2) 0;                        
                    }
                    em {
                        background: $highlight_color;
                        font-style: normal;
                    }
                }
            }
            .sync_indicator {
                &.active {
                    //@include animate_me(color, 0.1s);
                    -moz-animation: spin 2s infinite linear !important;
                    -o-animation: spin 2s infinite linear !important;
                    -webkit-animation: spin 2s infinite linear !important;
                    animation: spin 2s infinite linear !important;
                    color: $main_color;
                }
                &.need_sync {
                    color: $main_color;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    text-align: center;
                }
                .form-group {
                    text-align: center;
                }
                .form-control {
                    background: none !important;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    font-size: inherit;
                    width: 100%;
                    height: $grid;
                    padding: 2px 10px;
                    margin-top: 0px;
                    border-radius: 3px;
                }
                &.collapse {
                    //overflow: hidden !important;
                }
            }
            .navbar-right {
                margin-top: round($padding/2)+4px;
                height: $grid;
                margin-right: $padding;
                .btn {
                    padding: 3px 10px;
                    .caret {
                        border-top-color: #000 !important;
                    }
                }
                .wide {
                    padding: 3px 20px;
                }
            }
            .user_photo {
                padding-left: round($grid/2) !important;
                vertical-align: middle;
            }
            .link {
                display: inline-block;
                padding: round($padding*1.5) + 1px round($grid/4) round($padding*1.5) round($grid/4);
                height: $header_height_closed;
                //padding-left: round($grid/2);
                cursor: pointer;
                .photo {
                    @include animate_me(all, 0.5s);
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -4px;
                    border-radius: 50%;
                    opacity: 0.9;
                    width: $grid;
                    height: $grid;
                    &:hover {
                        opacity: 1;
                    }
                }
                &:hover {
                    background: $light_gray;
                }
            }
            .sync {
                color: $dark_gray;
            }
            .search {
                margin-left: round($grid/2);
            }            
            .search_input {
                width: 200px;
            }
            .user_info {
                display: inline-block;
                position: absolute;
                right: round($grid/2);
                top: round($padding/2);
                color: $gray;
                @include animate_me(all, 0.5s);
                &:hover {
                    color: #000;
                    .photo {
                        opacity: 1;
                    }
                }
                .surname {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: $grid;
                    height: $grid;
                    margin-right: $padding;
                }
            }
        }
        .header_second_line {
            margin-top: $padding;
            .search {
                border: 1px solid $light_gray;
                margin-left: round($grid/2);
                padding: 2px $padding;
                height: 24px;
                padding-right: 1.6em;
                width: 146px;
                outline: none;
                @include animate_me(width, 1s);
                &:focus {
                    width: 230px;
                    @include animate_me(width, 0.3s);
                }
            }
            .clear {
                display: inline-block;
                position: absolute;
                margin-left: -1.2em;
                font-size: 1.3em;
                color: $gray;
                cursor: pointer;
            }
            .header_center {
                position: absolute;
                right: round($grid/2);
                display: inline-block;
                .btn {
                    height: 24px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    background: #FFF;
                    color: $dark_gray;
                    //border: none;
                    //border-left: 1px solid #FFF;
                    .caret {
                        border-top-color: $dark_gray;
                    }
                    &.wide {
                        //border: none;
                        padding-left: 20px;
                        padding-right: 20px;
                        &:hover {
                            background: $main_color;
                            color: #FFF;
                            border-color: $main_color;
                            @include animate_me(all, 0.5s)
                        }
                    }
                }
            }
        }


        .w_header_top {
            line-height: $grid*2;
            vertical-align: middle;
            .w_header_left {
                @include absolute_me(0,auto,0,round($grid/2) );
            }
            .w_header_center {
                text-align: center;
                input {
                    display: inline-block;
                    line-height: 1.4em;
                    padding: 3px 10px 4px 10px;
                    width: $grid * 10;
                    border: 1px solid $gray;
                }
            }
            .w_header_right {
                @include absolute_me(0,round($grid/2),0,auto);
            }
            .btn {
                border: 1px solid $gray;
                background: #EEE;
                padding: 3px round($grid/2);
                //margin: 5px;
                //border-radius: 3px;
                font-size: 1em;
                color: $main_color;
            }   
            .dropdown-toggle {
                padding: 3px $grid/3;
            }
        }
    }
    #w_content_main {
        @include animate_me(top, 0.1s);
        @include absolute_me($header_height_closed, 0, 0, 0);
        .left_toggle_button {
            z-index: 1;
            cursor: pointer;
            .title {
                display: none;
            }
            .left_label {
                font-family: $font_family;
                font-size: 1em;
                color: lighten($main_color, $title_lighten);
                opacity: 0.5;
                letter-spacing:1px;
                padding-left: round($grid/2);
                display: inline-block;
                @include nowrap_me;
                vertical-align: middle;
                line-height: $p_inside_header_height;
                border-right: 1px solid rgba(lighten($main_color, $title_lighten), 0.5);
                padding-right: round($grid/2);;
                i:before {
                    margin-right: 0 !important;
                }
            }
            .left_label.drop:after {
                font-size: 0.9em;
                color: lighten($main_color, $title_lighten);
                content: "\e869";
                font-family: 'fontello';
                margin-left: 1em;
                margin-top: 2px;
            }
            &.opened {
                .title {
                    display: none;
                }
                .arrow:before {
                    content: '\e861' !important;
                    font-family: 'fontello';
                    display: inline-block;

                }
            }
        }
    }
    .settings_task {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 450px;
        height: 350px;
        background: #ebffe1;
        @include box_shadow();
        padding: $grid;
        .pull-right {
            font-weight: bold;
        }
    }
}

//если верхняя панель открыта
#w_main.header_panel_opened {
    #w_header_main {
        @include animate_me(height, 0.1s);
        height: $header_height_opened;
    }
    #w_content_main {
        @include animate_me(top, 0.1s);
        top: $header_height_opened;
    }
}



//левая крайняя панель (избранные)
#p_left_side_wrap {
    display: none;
    @include absolute_me(0, auto, 0, 0);
    width: $p_left_side_width;
    .p_inside_content {
    }
    .p_inside_header2 {
    }

}



//правая крайняя панель (план дня)
#p_right_side_wrap {
    display: none;
    @include absolute_me(0, $p_right_calendar_line_width, 0, auto);
    width: $p_right_side_width - $p_right_calendar_line_width;
    .right_menu_button_w1 {
        position: absolute;
        top: auto;
        margin-top: - $padding + 2px;
        margin-right: -3px;
    }

}

#p_right_calendar_line {
    display: none;
    @include absolute_me(0, 0, 0, auto);
    width: $p_right_calendar_line_width;
    background: $main_color;    
}

#p_center_wrap {
    @include absolute_me(0, round($grid/2), 0, round($grid/2) );
}



//левая панель открыта
#w_main.p_left_side_open {
    #p_left_side_wrap {
        display: block;
    }

    #p_center_wrap {
        left: $p_left_side_width;
        @include animate_me(left, 0.1s);
    }

    .left_main_line {
        left: $p_left_side_width - round($grid/2) ;
    }

}
//правая панель открыта
#w_main.p_right_side_open {
    #p_right_side_wrap {
        display: block;
    }

    #p_center_wrap {
        right: $p_right_side_width + round($grid/2);
        @include animate_me(right, 0.1s);
    }

    #p_right_calendar_line {
        display: block;
    }

    .right_main_line {
        right: $p_right_side_width;
    }


}

#w_main.p_plan_of_day_closed.p_right_side_open {
    #p_center_wrap {
        right: $grid * 2 + round($grid/2);
        @include animate_me(right, 0.1s);
    }
    .right_main_line {
        right: $grid * 2;
    }
}





#p_left_wrap {
    @include absolute_me(0, $p_center_procent, 0, 0);
    .p_inside_header2 {
        position: relative;
        .right_menu_button_w {
            right: 1px;
        }
    }
}

#p_right_wrap {
    @include absolute_me(0, 0, 0, $p_center_procent);
    .p_inside_content, .p_inside_header2 {
        border-left: 1px solid rgba(0,0,0,0.05);
    }
}


.left_line {
    border-left: 1px solid lighten($main_color, 5%);
}

.p_inside_wrap {
    position: relative;
    height: 100%;
    //border: 1px solid #EEE;

    .p_inside_header {
        height: $p_inside_header_height;
        background: $main_color;
        text-align: center;
        color: $main_font_color;
        cursor: pointer;
        .main_menu {
            width: 100%;
            .title {
                width: 100%;
            }
            .dropdown-menu {
                width: 100%;
                font-size: inherit;
                background: $dropdown_menu;
                border-radius: 0;
                margin-top: 0px;
                border: none;
                border-bottom: 3px solid lighten($main_color,12%);
                z-index: 1006;
                .divider {
                    background-color: rgba($main_color, 0.9);
                }
                .active {
                    a {
                        background: rgba($main_color, 0.3);;                        
                    }
                    i {
                        opacity: 1;
                    }
                }
                i {
                    display: inline-block;
                    margin-right: 2px;
                    font-size: 1em;
                    width: $grid;
                    font-weight: normal;
                    opacity: 1;
                }
                a {
                    padding: $padding;
                    font-family: $font_family;
                    letter-spacing: 0px;
                    font-size: 1em;
                    text-align: center;
                    width: 100%;
                    display: inline-block;
                    color: $main_color;
                    &:hover {
                        background: $main_color;
                        color: #FFF;
                    }
                    b {
                        font-weight: bold;
                        display: inline-block;
                        min-width: 97px;
                        text-align: left;
                    }
                }
            }
        }
        .title {
            font-family: $font_family;
            font-size: 1em;
            color: lighten($main_color, $title_lighten);
            letter-spacing:1px;
            display: inline-block;
            @include nowrap_me;
            vertical-align: middle;
            line-height: $p_inside_header_height;
            &.make_white {
                color: #FFF;                
                &.drop:after {
                  color: #FFF;
                }
            }
            i:before {
                margin-right: 0 !important;
            }
        }
        .title.drop:after {
            color: lighten($main_color, $title_lighten);
            content: "\e869";
            font-family: 'fontello';
            margin-left: 1em;
            margin-top: 2px;
        }
    }

    .side_menu {
        list-style: none;
        margin: $padding 0px;
        margin-top: 0;
        padding: 0px;
        margin-bottom: $padding;
        background: $dropdown_menu;
        border-bottom: 3px solid lighten($main_color,12%);
        //padding-bottom: $padding;
        li:nth-child(1) {
            height: $padding+$grid;
            padding-top: $padding;
        }
        li:last-child {
            height: $padding+$grid;
            padding-bottom: $padding;
        }
        li {
            letter-spacing: 1px;
            color: $main_color;
            cursor: pointer;
            line-height: $grid;
            height: $grid;
            &.active {
                    background: rgba($main_color, 0.3);
                i {
                    opacity: 1;
                }
            }
            i {
                display: inline-block;
                width: $grid*2;
                padding-left: $grid;
                padding-right: $padding;
                font-size: 1.3em;
                text-align: left;
                vertical-align: middle;
                opacity: 0.8;
            }
            b {
                line-height: $grid;
                display: inline-block;
                vertical-align: middle;
                padding-left: round($padding/2);
            }
        }
    }

    .p_inside_header2 {
        height: $p_inside_header_height;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        height: auto;
    }
    .p_inside_content {
        @include absolute_me($p_inside_header_height,0,0,0);
    }
    .has_header {
        top: $p_inside_header_height*2;
    }
    .p_inside_sidebar {
        background: $main_color;
        @include absolute_me($p_inside_header_height,auto,0,0);
        width: $grid;
        .p_inside_sidebar_gradient {
            @include side_gradient;        
            height: 100%;
        }
    }

}

.right_hide {
    #p_left_wrap {
        right: 0px;
        .p_inside_header {
            width: 50%;
        }
    }
    #p_right_wrap {
        left: auto;
        width: 50%;
        bottom: auto;
        height: $grid;
        z-index: 2;
        .p_inside_header {
            .title {
                opacity: 0.4;
            }
        }
    }
}

.left_hide {
    #p_right_wrap {
        left: 0px;
        .p_inside_header {
            margin-left: 50%;
            width: 50%;
        }
    }
    #p_left_wrap {
        right: auto;
        width: 50%;
        bottom: auto;
        height: $grid;
        z-index: 2;
        .p_inside_header {
            .title {
                opacity: 0.4;
            }
        }
        
    }
}

.left_hide.right_hide {
    #p_right_wrap {
        left: 50%;
        width: 50%;
        .p_inside_header {
            margin-left: 0;
            width: 100%;
        }
    }
    #p_left_wrap {
        right: 50%;
        width: 50%;
        bottom: auto;
        height: $grid;
        z-index: 2;
        .p_inside_header {
            width: 100%;
        }        
    }
}


.margin_left {
    margin-left: round($grid/2);
    margin-right: $grid;
}

.left_main_line {
    @include absolute_me(0,auto,0,0);
    background: $main_color;
    width: round($grid/2);
    cursor: pointer;
}

.right_main_line {
    @include absolute_me(0,0,0,auto);
    background: $main_color;
    width: round($grid/2);
    cursor: pointer;
}




@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
























