@charset "UTF-8";

.note_tasks {
  margin-top: $padding*2;
}

$date_opacity: 1;

.add_task_input {
  border: 1px solid rgba(100,100,100,0.2);
  margin-left: 20px;
  right: $padding;
  left: $grid*4;
  width: 100%;
  padding: 2px 10px;
  outline: none;
}


$past_color: rgba(#ffc6cd, 1);
$past_font_color: #000;
$today_color: #ffc83f;
$today_font_color: #000;
$future_color: rgba(#c1d7f4, 1);
$future_font_color: #000;

$date_label_radius: 0px;
$date_label_radius_little: 0px;
$date_label_padding: 0px;
$date_dot_color: #FFF;
$date_dot_opacity: 0.3;
$date_width: $grid_label*1.9;
$grid_label_height: 15px;

.nodate {
  background-color: rgba($today_color, 1) !important;
  color: rgba(255,255,255,0.3) !important;
  //font-weight: bold !important;
}


.task_date {
  display: block;
  background-color: $future_color;
  color: $future_font_color;
  font-size: 9px;
  line-height: $grid_label_height;
  vertical-align: middle;
  height: $grid_label_height;
  min-width: $date_width*2;
  cursor: pointer;
  margin: 0;
  position: absolute;
  right: $padding;
  margin-right: $padding;
  &.red {
    background: $today_color;
  }
  .myprogress {
    position: absolute;
    background: rgba($today_color, 1);
    height: $grid_label_height;
    left: 0;
    top: 0;
    z-index: 1;
    border-right: 1px solid #FFF;
    &.red {
      background: $past_color;
    }
  }
  .date1 {
    padding-left: $date_label_padding;
    min-width: $date_width;
    display: inline-block;
    position: absolute;
    left: 3px;
    z-index: 1;
  }
  .date2 {
    padding-right: $date_label_padding;
    display: inline-block;
    position: absolute;
    text-align: center;
    right: 3px;
    z-index: 1;
  }
  &.nodate {
    color: #FFF !important;
    text-align: center;
    min-width: $grid_label_height;
    line-height: $grid_label_height;
    height: $grid_label_height;
    background: $today_color;
    border-bottom-right-radius: $date_label_radius;
    border-top-right-radius: $date_label_radius;
    i {
      display: inline-block;
      font-size: 9px;
      margin-top: -2px;
      margin-left: 0;
      line-height: $grid_label_height;
      vertical-align: middle;
    }
    i:before {
      margin: 0 !important;
    }
  }
}


.one_task {
  white-space: nowrap;
  margin-bottom: $padding*2;
  color: #444;
  margin-right: $date_width;
  &.has_date {
    margin-right: $date_width*2;
  }
  &.next_action {
    color: #000;
    &:before {
      content: '\27a1';
      font-family: 'fontello';
      position: absolute;
      margin-left: -$padding*2;
      line-height: 1.8em;
      color: #000;
    }
  }
  &.active {
    .right_part:before {
      content: '\e82b';
      font-family: 'fontello';
      position: absolute;
      margin-left: -$padding - 5px;
      line-height: 1.8em;
      color: $main_color;
    }
  }
  &.most_important {
    .title:before {
      content: "\e104";
      color: rgba(red, 0.3);
      font-family: "Glyphicons Halflings";
      margin-right: $padding;
    }
  }
  &.most_important100 {
    .title:before {
      content: "\e104";
      font-family: "Glyphicons Halflings";
      margin-right: $padding;
      color: red;
    }
  }

  &.did {
    .title {
      text-decoration: line-through;
      color: $dark_gray !important;
    }
    .myprogress {
      background: #EEE;
      border: none;
    }

    .task_date {
      background-color: rgba(240,240,240,1) !important;
      border: 0px solid rgba(250,250,250,1) !important;
      color: $gray !important;
      background-image: none !important;
    }
  }
  .left_part {
    display: inline-block;
    vertical-align: top;
  }
  .right_part {
    margin-top: 1px;
    vertical-align: top;
    display: inline-block;
    //border-left: 1px solid lighten($gray, 5%);
    padding-left: $padding;
    margin-left: $padding/2;
    .title_wrap {
      display: inline;
      white-space: normal;
      .title {
        outline: none;
      }
      .importance {
        display: inline;
        white-space: normal;
        color: $gray;
      }
    }
  }
}





