@charset "UTF-8";
// Главное окно приложения

@import 'mymixins';


.plan_of_day {
  margin: $padding $grid;
  margin-right: $padding;
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      font-size: 1em;
      .time {
        display: inline-block;
        width: 3.5em;
      }
      .title {
        display: inline-block;
      }
      &.done {
        color: #222;
        div {
          text-decoration: line-through;
        }
      }
    }
  }
  .diary {
    outline: none;
    padding: $padding*2;
    background: rgba(#ffffcc, 0.5);
    border-bottom: 3px solid rgba(#d5ca9d, 0.2);
    margin-right: $padding;
    margin-top: $padding;
    width: 100%;
    min-height: 15em;
    margin-bottom: $grid;
    @include animate_me(background, 1s);
    em, p, div, span {
      background: none !important;
    }
    img {
      max-width: 80%;
      max-height: 80%;
    }
    &:focus {
      background: rgba(#fff797, 1);
      border-bottom: 3px solid rgba(#d5ca9d, 1);      
    }
  }
  .add_do {
    .title {
      @include animate_me(color, 0.3s);
      color: $gray;
      cursor: pointer;
      &:hover {
        color: lighten($main_color,12%);
      }
    }
  }
  .news_changes {
    list-style: none;
    tr {
      td {
        padding: $padding 0;
        vertical-align: top;
        .title {
          margin-top: round($grid/4) - 1px;
        }

      }     
    }
  }
  .myweb_ul {
    b {
      //color: $gray;
      font-weight: normal;
    }
    .title {
      padding: round($padding/2);
      font-weight: bold;
      cursor: pointer;
    }
    .cnt {
      color: $gray;
      font-weight: normal;
    }
    .myweb_ul {
      margin-left: $grid;
      .title {
        font-weight: normal;
      }
    }
  }
}


.face {
  display: inline-block;
  vertical-align: middle;
  width: $grid;
  height: $grid;
  margin-right: $padding;
  border-radius: 50%;
}

.side_search {
  margin: 0 $padding;
  input {
    box-shadow: none;
    border: 1px solid $light_gray;
    font-size: 1em;
    padding: 2px $padding;
    height: $grid;
    border-radius: 3px;   
  }
}

.myweb_link_header {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.3em;
}

.frends_wrap {
  padding-top: $padding;
  .frends_list {
    background: rgba($dropdown_menu,0.5);
    list-style: none;
    padding: 0 0 0 $grid;
    border-bottom: 3px solid $main_color;
    li {
      padding: round($padding/2) 0;
      cursor: pointer;
    }
  }

  .select_frend {
    font-weight: bold;
    padding: 0 0 $padding $grid;
    cursor: pointer;
    &:hover {
      .face {
        opacity: 1;
      }
    }
  }

}
