@charset "UTF-8";

$main_color: #306f18;
$main_font_color: #FFF;
$side_gradient_stop_opacity: 0.5;
$side_gradient_stop_color: rgba(255,255,200, $side_gradient_stop_opacity);
$gray: #CCC;
$pomidor_color: #d50800;
$dropdown_menu: rgba(lighten($main_color, 62%) , 0.95);

$light_gray: lighten($gray, 7%);
$dark_gray: darken($gray, 30%);
$title_lighten: 40%;

$font_family: "Ubuntu", Verdana;

$grid: 25px;

$grid_label: 20px;

$padding: 8px;

//шапка приложения - высота
$header_height_closed: $grid + $padding*2;
$header_height_opened: $grid * 2 //панель
           + $grid * 2; //место для кнопок календаря

//боковые панели - ширина
$p_left_side_width: $grid * 12; 
$p_right_side_width: $grid * 12;
$p_right_calendar_line_width: $grid * 2;

//процент разделения левой/правой панели по умолчанию
$p_center_procent: 50%;

//высота заголовков у всех панелей
$p_inside_header_height: $grid;