.settings_task {
  position: relative;
  top: 200px;
  left: 100px;
  width: 510px;
  min-height: 200px;
  z-index: 1;
  background: rgba(#ffffee,0.98);
  border: 1px solid rgba($main_color,0.6);
  @include box-shadow();
  padding: $grid/2 round($grid/1.5);
  padding-left: $grid+$padding*2;
  padding-bottom: $grid;
  .drag-handle {
    background: rgba($main_color,0.6);
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: $grid/2;
    cursor: move;
  }
  .title {
    display: inline;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: $padding*2;
    outline: none;
    min-width: $grid;
  }
  .st_checkbox {
    position: absolute;
    left: $grid;
  }
  label {
    color: $dark_gray;
    font-weight: normal;
  }
  .dates_block {
    margin: $padding 0;
    display: block;
    &.date_off {
      opacity: 0.3;
    }
    .st_date {
      display: inline-block;
      vertical-align: middle;
    }
    b {
      padding: $padding;
    }
  }
  .task_editor {
    outline: none;
    margin-top: $padding;
    min-height: 2*$grid;
    padding: $padding;
    border: 1px solid rgba($main_color, 0.5);
    width: 100%;
    background: #FFF;
    max-height: 200px;
    overflow: auto;
  }
  .pull-right {
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: $grid;
    height: $grid;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    color: $gray;
    &:hover {
      color: #000;
    }
  }
}
