@charset "UTF-8";

//параметры
@import 'settings';

$timeline_line_color: #AAA;
$timeline_dates_font_color: rgba(#000,0.8);
$timeline_dates_font_color_weekend: rgba(red,0.9);
$timeline_line_color_today: #f5a014;
$timeline_line_color_mark: #000;

.timeline {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  &:hover {
    .label {
      color: $timeline_dates_font_color !important;
      &.weekend {
        color: $timeline_dates_font_color_weekend !important;
      }
    }
    .event i {
      color: #000 !important;
    }
  }
  .absolutes {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: $padding*2;
    .table_wrap {
      position: absolute;
      left: 0px;
      right: 0px;
      cursor: move;
      .label {
        overflow: hidden;
        position: absolute;
        font-weight: normal;
        color: #FFF;
        text-align: center;
        top: -6px;
        padding-top: 28px;
        font-size: 9px;
        overflow: hidden;
        @include animate_me(color, 0.5s);
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          left: 0px;
          background: #FFF;
          top: 10px;
          height: 8px;
          z-index: 2;
        }
        &:after {
          content: '';
          position: absolute;
          width: 1px;
          right: 0px;
          background: #FFF;
          top: 10px;
          height: 8px;
          z-index: 2;
        }
        &.today {
          font-weight: bold;
        }
        &.mark {
          //border-top: 2px solid $timeline_line_color_mark;
        }
      }
    }
    .today_line {
      position: absolute;
      left: 0;
      margin-top: 0px;
      height: 12px;
      border-left: 1px solid rgba(red,1);
      z-index: 3;
      margin-left: -1px;
    }
    .line {
      position: absolute;
      height: 2px;
      opacity: 0.8;
      margin-top: 5px;
      left: 0px;
      right: 0px;
      background: #CCC;
      z-index: 0;
    }
    .event {
      position: absolute;
      left: 5%;
      width: 200px;
      height: 10px;
      margin-top: 1px;
      z-index: 1;
      cursor: ew-resize;
      .event_line {
        position: absolute;
        background: $main_color;
        left: 0px;
        right: 0;
        top: 4px;
        height: 2px;
      }
      .d1 {
        position: absolute;
        left: -4px;
        width: 8px;
        height: 8px;
        top: -3px;
        content: "";
        background: inherit;
        border-radius: 5px;
        cursor: col-resize;
        z-index: 2;
        text-align: left;
      }
      .d2 {
        position: absolute;
        right: -4px;
        width: 8px;
        height: 8px;
        top: -3px;
        content: "";
        background: inherit;
        border-radius: 5px;
        cursor: col-resize;
        z-index: 1;
        text-align: right;
      }
      b {
        position: absolute;
        min-width: 4em;
        margin-left: -2em;
        font-size: 9px;
        font-weight: normal;
        text-align: center;
        color: $dark_gray;
        margin-top: -1.5em;
        background: #FFF;
        padding-right: $padding*2;
      }
      i {
        position: absolute;
        z-index: 3;
        min-width: 4em;
        margin-left: -2em;
        font-size: 9px;
        font-weight: normal;
        text-align: center;
        margin-top: 8px;
        color: #FFF;
        font-style: normal;
        background: rgba(#FFF,0.9);
        @include animate_me(color, 0.5s);
        &.soon {
          color: #888;
        }
      }
    }
  }
}