@charset "UTF-8";
// Главное окно приложения

@import 'mymixins';

.big_week_calendar {
  .week_calendar_ul {
    list-style: none;
    padding: 0;
    width: 100%;
    .day_li {
      display: table;
      border: none;
      border-collapse: collapse;
      table-layout: fixed;
      height: 100px;
      width: 100%;
      .week_line {
        display: table-row;
        width: 100%;
        .week_day {
          display: table-cell;
          border: 1px solid $light_gray;
          border-top: none;
          padding: round( $padding );
          padding-bottom: 0;
          &.odd {
            background: $dropdown_menu;
            border-color: darken($dropdown_menu,10%);
          }
          &.even {
            .day_header {
              color: $main_color;
            }
          }
          &.today {
            background: $today_background;
          }
          &.weekend {
            .day_header {
              color: rgba(#6c0000, 0.7);              
            }
          }
          .day_header {
            text-align: right;
            b {
              font-weight: normal;
            }
          }
          .one_task {
            font-size: 10px;
            white-space: normal;
            span {
              outline: none;
            }
          }
        }
      }      
    }
  }
}