<div class="plan_of_day">
  <date-time-input ng-model="set.today_date"></date-time-input>
	<h10 class="open">дела на сегодня ({{todo1.length}})</h10>
	<ul>
		<li ng-repeat="the_do in todo1 = fn.service.calendarBox.getToDoForIndex(set.today_date).tasks" class="{{the_do.myclass}}" ng-click="set.set_task = the_do">
			<span class="col1 time">{{the_do.time}}</span>
			<span class="col2">
				<span contenteditable="true" ng-model="the_do.title" class="title"></span>
			</span>
		</li>
		<li class="add_do">
			<div class="time">&nbsp;</div>
			<div class="title">{{'ADD' | translate}}</div>

		</li>
	</ul>

	<h10 class="open">дела без даты</h10>
	<ul>
		<li ng-repeat="the_do in fn.service.calendarBox.getToDoForIndex().tasks" class="{{the_do.myclass}}">
			<input type="checkbox">
			<div class="title">{{the_do.title}}</div>
		</li>
	</ul>
	<h10 class="open">достижения на сегодня</h10>
	<ul>
		<li ng-repeat="the_do in db.reward_do" class="{{the_do.myclass}}">
			<div class="title">{{the_do.title}}</div>
		</li>
	</ul>

	<h10 class="open">дневник</h10>
	<div class="diary" contenteditable="true" spellcheck="false">
		Сегодня отличный день. Собираюсь помыть машину и поехать в кинотеатр. В субботу Валюшка поедет на горячие источники.
	</div>

</div>


<!-- Begin Templates -->
<script type="text/ng-template" id="datetimeinput.html">
  <div class="datetimeinput">
    <div class="dt_wrap">
      <i class="icon-up-dir"></i>
      <input class="day" size="2" only-digits>
      <i class="icon-down-dir"></i>
    </div>

    <div class="dt_wrap">
      <i class="icon-up-dir"></i>
      <input class="month" size="5">
      <i class="icon-down-dir"></i>
    </div>

    <div class="dt_wrap">
      <i class="icon-up-dir"></i>
      <input class="year" size="4">
      <i class="icon-down-dir"></i>
    </div>
  </div>
</script>