<div class="side_search">
	<input type="text" class="form-control" placeholder="Искать..." ng-model="search_box">
</div>

<div class="plan_of_day">

	<h10 class="open">Заметки (4)</h10>
	<table class="news_changes">
		<tr ng-repeat="the_do in db.news_comments" class="{{the_do.myclass}}">
			<td></td>
			<td><div class="title">{{the_do.title}}</div></td>
		</tr>
	</table>


	<h10 class="open">Дела (62)</h10>
	<ul>
		<li ng-repeat="the_do in db.nodate_do" class="{{the_do.myclass}}">
			<input type="checkbox"> 
			<div class="title">{{the_do.title}}</div>
		</li>
	</ul>


</div>