<div class="plan_of_day">
	<center><b>{{set.today_date}}</b></center>
	<h10 class="open">дела на сегодня ({{todo1.length}})</h10>
	<ul>
		<li ng-repeat="the_do in todo1 = fn.service.calendarBox.getToDoForIndex().tasks" class="{{the_do.myclass}}" ng-click="set.set_task = the_do">
			<span class="col1 time">{{the_do.time}}</span>
			<span class="col2">
				<span class="title">{{the_do.title}}</span>
			</span>
		</li>
		<li class="add_do">
			<div class="time">&nbsp;</div>
			<div class="title">{{'ADD' | translate}}</div>

		</li>
	</ul>

	<h10 class="open">дела без даты</h10>
	<ul>
		<li ng-repeat="the_do in fn.service.calendarBox.getToDoForIndex().tasks" class="{{the_do.myclass}}">
			<input type="checkbox">
			<div class="title">{{the_do.title}}</div>
		</li>
	</ul>
	<h10 class="open">достижения на сегодня</h10>
	<ul>
		<li ng-repeat="the_do in db.reward_do" class="{{the_do.myclass}}">
			<div class="title">{{the_do.title}}</div>
		</li>
	</ul>

	<h10 class="open">дневник</h10>
	<div class="diary" contenteditable="true" spellcheck="false">
		Сегодня отличный день. Собираюсь помыть машину и поехать в кинотеатр. В субботу Валюшка поедет на горячие источники.
	</div>

</div>