<div class="frends_wrap">
	<div class="select_frend" ng-click="set.panel[3].frend_list_open = !set.panel[3].frend_list_open">
		<div class="face" style="background:url('images/tmp/photo.jpg')"></div>
		<span class="title">Вецель Евгений</span> <i class="icon-down-dir"></i>
	</div>
	<ul class="frends_list slide_left" ng-if="set.panel[3].frend_list_open">
	  <li ng-repeat="fio in db.frends" ng-click="set.panel[3].frend_list_open = false">
		<div class="face" style="background:url('images/tmp/photo.jpg')"></div>
		<span>{{fio}}</span>
	  </li>
	</ul>
</div>

<div class="plan_of_day">

	<h10 class="open">Я поручил (4)</h10>
	<ul>
		<li ng-repeat="the_do in db.today_do" class="{{the_do.myclass}}">
			<div class="time">{{the_do.time}}</div>
			<div class="title">{{the_do.title}}</div>
		</li>
		<li class="add_do">
			<div class="time">&nbsp;</div>
			<div class="title">{{'ADD' | translate}}</div>

		</li>		
	</ul>

	<h10 class="open">Поручения выполнены (12)</h10>
	<ul>
		<li ng-repeat="the_do in db.today_do" class="{{the_do.myclass}}">
			<div class="time">{{the_do.time}}</div>
			<div class="title">{{the_do.title}}</div>
		</li>
		<li class="add_do">
			<div class="time">&nbsp;</div>
			<div class="title">{{'ADD' | translate}}</div>

		</li>		
	</ul>


	<h10 class="open">Поручено мне (4)</h10>
	<ul>
		<li ng-repeat="the_do in db.today_do" class="{{the_do.myclass}}">
			<div class="time">{{the_do.time}}</div>
			<div class="title">{{the_do.title}}</div>
		</li>
		<li class="add_do">
			<div class="time">&nbsp;</div>
			<div class="title">{{'ADD' | translate}}</div>

		</li>		
	</ul>

	<h10 class="open">Его изменения</h10>
	<table class="news_changes">
		<tr ng-repeat="the_do in db.news_changes" class="{{the_do.myclass}}">
			<td><div class="face" style="background:url('images/tmp/photo.jpg')"></div></td>
			<td><div class="title">{{the_do.title}}</div></td>
		</tr>
		<tr>
			<td></td>
			<td class="add_do"><span class="title">ещё...</span></td>
		</tr>
	</table>

	<h10 class="open">Его комментарии</h10>
	<table class="news_changes">
		<tr ng-repeat="the_do in db.news_comments" class="{{the_do.myclass}}">
			<td><div class="face" style="background:url('images/tmp/photo.jpg')"></div></td>
			<td><div class="title">{{the_do.title}}</div></td>
		</tr>
		<tr>
			<td></td>
			<td class="add_do"><span class="title">ещё...</span></td>
		</tr>
	</table>

	<h10 class="open">Скрытая заметка</h10>
	<div class="diary" contenteditable="true" spellcheck="false">
		Сегодня отличный день. Собираюсь помыть машину и поехать в кинотеатр. В субботу Валюшка поедет на горячие источники.
	</div>


</div>