<div class="p_inside_content vertical_scroll" ng-controller="save_tree_db" scrollable="{alwaysVisible:'true'}">
    <a ng-if="tree = db.main_node[set.focus_edit]"></a>
    <div class="editor_wrap">
        <div class="editor_content">

            <div ng-include="'views/subviews/view_mini_settings.html'"></div>

            <div id="toolbar"></div>
			<div class="main_editor" smart-redactor="{toolbarFixed: true, toolbarOverflow: true, toolbarFixedBox: true, toolbarFixedTarget: '#p_right_wrap .content', toolbarFixedTopOffset: 1, air:false, toolbarExternal: '#toolbar', cleanup: true}" ng-model="tree._id"></div>

        </div>
    </div>
    <div class="editor_wrap" style="word-wrap:break-word; padding: 15px;">    
    {{fn.service.db_tree._tmp._diffs}}
    </div>
</div>






<div class="wrapper_line" ng-if="false">
	<div class="box">
	</div><div class="title_wrap">
		<div contenteditable="true" class="title">		
		Тут мы пишем заголовок и он всегда не влезает, но нас это совсем не беспокоит, просто при этом квадрат перестает быть квадратом и это ничего такого страшного, хотя и не очень красиво)))</div>
	</div>
</div>

