<div class="sea_time" ng-controller="seaController">
    <div class="today_l"></div>
    <ul class="ul_boats">
        <li ng-repeat="boat in boats" class="li_boat">
            <input type="checkbox">
            <span class="title">{{boat.title}}</span>
            <div class="sea">
                <div class="today_line"></div>
                <span class="cont"
                     ng-repeat="container in boat.containers"
                     ng-class="{week_end:container.week_end}"
                     style="margin-left:{{$index==0?boat.left:0}} ;width:{{container.width}};">
                </span>
                <div class="boat"
                     style="margin-left:{{boat.left}};width: {{boat.width}};">
                    <div class="boat_body"></div>
                </div>
            </div>
        </li>
    </ul>
    <div range-slider
         min="1"
         max="90"
         model-max="zoom"
         pin-handle="min"
         show-values="true">
    </div>
</div>

