<div class="p_inside_header2" ng-init="set.main_parent_id = '1'">

    <div class="right_menu_button_w">
        </i><i class="icon-th-list r_menu_button"></i>
    </div>

    <div ng-include="'views/subviews/view_tree_header.html'"></div>

</div>

<div class="p_inside_content cards vertical_scroll has_header" scrollable="{alwaysVisible:'true'}">

    <div class="editor_content">


        <div class="notselectable" ng-if="trees = fn.jsFindByParent(set.main_parent_id)">
            <div class="path_element" ng-repeat="path in pt = fn.service.db_tree.jsFind(set.main_parent_id)._path">

              <ol class="path_ul">
                <li ng-repeat="path_element in fn.jsFindByParent(path)" ng-class="{active:(selected = pt.indexOf(path_element.id)!=-1)};" ng-click="set.main_parent_id = path_element.id; db.main_node = path_element;" ng-if="path_element._childs>0">
                  <div class="title" ng-bind="path_element.title"></div>
                </li>
              </ol>

            </div>


            <ul class="tree_ul">
                <li class="tree2" ng-repeat="tree in trees" ng-click="db.main_node = tree;">
                    <div class="tree_tmpl" ng-include="'views/subviews/view_one_line_cards.html'"></div>
                </li>
            </ul>
        </div>
                            
    </div>
</div>




<!-- Begin Templates -->
<script type="text/ng-template" id="views/subviews/view_one_line_cards.html">
    <div ng-controller="save_tree_db" class="tree_wrap" ng-class="{open:tree._open, folder:tree._childs, active:db.main_node.id==tree.id}" id="node_{{tree.id}}">
      <div class="card_header">
        <div class="col1">
          <div class="is_folder" ng-click="tree._open=!tree._open"></div>
        </div>
        <div class="col2" title="{{tree._childs}}" ng-click="set.main_parent_id = tree.id">
          <i class="icon-heart-empty"></i>
        </div>
        <div class="col3" ng-click="db.main_node = tree" id="col3_{{tree.id}}">
            <div class="title" contenteditable="true" ng-model="tree.title"></div>
        </div>
      </div>
      <div class="text_wrap">
        <div class="col_text" contenteditable="true" ng-model="tree.text">
        </div>
      </div>
      {{tree._path}}
    </div>

</script>
<!-- End Templates -->