<div class="p_inside_content vertical_scroll" scrollable="{alwaysVisible:'true'}">
    <div class="editor_wrap">
        <div class="editor_content">

            <div ng-include="set.mini_settings"></div>

            <div id="toolbar"></div>
			<div class="main_editor" redactor="{toolbarFixed: true, toolbarOverflow: true, toolbarFixedBox: true, toolbarFixedTarget: '#p_right_wrap .content', toolbarFixedTopOffset: 1, air:false, toolbarExternal: '#toolbar', cleanup: true}" ng-model="db.main_node.text"></div>
        
        </div>
        
    </div>
</div>






<div class="wrapper_line" ng-if="false">
	<div class="box">
	</div><div class="title_wrap">
		<div contenteditable="true" class="title">		
		Тут мы пишем заголовок и он всегда не влезает, но нас это совсем не беспокоит, просто при этом квадрат перестает быть квадратом и это ничего такого страшного, хотя и не очень красиво)))</div>
	</div>
</div>

