<div class="p_inside_header2">

    <div class="right_menu_button_w">
        </i><i class="icon-th-list r_menu_button"></i>
    </div>

    <div ng-include="'views/subviews/view_tree_header.html'"></div>

</div>

<div class="p_inside_content vertical_scroll has_header" scrollable="{alwaysVisible:'true'}">

    <div class="editor_content">


        <div class="main_tree notselectable">
            <ul>
                <li class="tree" sly-repeat="tree in fn.jsFindByParent(set.main_parent_id)">
                    <div ng-include="'views/subviews/view_one_line.html'"></div>
                </li>
            </ul>
            <hr>
            <ul>
                <li ng-repeat="sync in db.sync_journal">{{sync}}</li>
            </ul>
            <ul>
                <li ng-repeat="to_send in db.sync_to_send">{{to_send}}</li>
            </ul>

        </div>
                            
    </div>
</div>


