<div ng-controller="bigCalendarController">
  <div class="p_inside_header2 top_header_calendar">

    <div ng-include="'views/subviews/view_main/sub/view_calendar_header.html'"></div>

  </div>

  <div class="p_inside_content big_calendar vertical_scroll" scrollable="{alwaysVisible:'true'}">

      <div class="editor_content">
        <ul>
          <li class="day_li" ng-scroll="note in datasource" buffer-size="10" padding="1">
            <div class="day_wrap calendar_box_wrap" ng-if="day = fn.service.calendarBox.getCalendarForIndex($index)">
              <div class="col1 calendar_box" ng-class="day.myclass">
                <div class="box_week_day">{{day.week_day}}</div>
                <div class="box_day">{{day.day}}</div>
                <div class="box_month">{{day.month}}.{{day.year}}</div>
                
              </div>
              <div class="col2"></div>
              <div class="col3">
                <ol>
                  <li ng-repeat="task in day.tasks">
                    <b ng-click="set.set_task = task">{{task.time}}</b> — <span contenteditable="true" ng-model="task.title"></span>
                  </li>
                  <li class="add_task">
                    <b>00:00</b> — <span>Новое дело...</span>
                  </li>
                </ol>
              </div>
            </div>
          </li>
        </ul>

      </div>
  </div>
</div>