<div class="p_inside_header2" ng-if="false">

    <div class="right_menu_button_w">
        </i><i class="icon-th-list r_menu_button"></i>
    </div>

    <div ng-include="'views/subviews/view_tree_header.html'"></div>

</div>

<div class="p_inside_content vertical_scroll not_has_header" scrollable="{alwaysVisible:'true'}">

    <div class="editor_content">
        <div ng-include="'views/subviews/view_main/sub/path_header.html'"></div>
        <center>
          <a class="btn btn-default" ng-click="fn.service.db_tree.jsExpand(set.main_parent_id, false)">
            <i class="glyphicon glyphicon-minus-sign"></i>
          </a>
          <a class="btn btn-default" ng-click="fn.service.db_tree.jsExpand(set.main_parent_id, true)">
            <i class="glyphicon glyphicon-plus-sign"></i>
          </a>
        </center>
        <div class="main_tree notselectable">


            <ul my-sortable class="sortable" data-parent-id="{{set.main_parent_id}}">
                <li class="tree2" ng-repeat="tree in fn.jsFindByParent(set.main_parent_id);">
                    <div my-draggable=".sortable" class="tree_tmpl" ng-include="'views/subviews/view_one_line2.html'"></div>
                </li>
            </ul>
            <ul ng-if="false">
                <li ng-repeat="sync in fn.service.syncApi.sync_journal" style="padding:10px">
                    {{sync}}
                </li>

            </ul>

        </div>
                            
    </div>
</div>



<!-- Begin Templates -->
<script type="text/ng-template" id="views/subviews/view_one_line2.html">
    <div ng-controller="save_tree_db" class="tree_wrap" ng-class="{open:tree._open, folder:tree._childs, active:(db.main_node._id==tree._id)}" ng-click="db.main_node = tree">
        <div class="col1">
          <div class="is_folder" ng-click="tree._open=!tree._open"></div>
        </div>
        <div class="col2" title="{{tree._childs}}" ng-click="set.main_parent_id = tree._id" style="background:{{tree.color}};" ng-class="{tree_new:tree._new}">
          <i class="{{fn.service.db_tree.getIcon(tree)}}" style="color: {{tree.icon_color}};"></i>
        </div>
        <div class="col3">
            <div class="title">
                 <span contenteditable="true" ng-model="tree.title" focus-me="tree._focus_me" hotkey="{'Enter':fn.service.db_tree.jsEnterPress,'Esc':fn.service.db_tree.jsEscPress}" ng-blur="fn.service.db_tree.jsBlur($event, undefined, tree)" tabindex="-1"></span>
                 <span class="cnt" ng-if="tree._childs">({{tree._childs}})</span>
                 - {{tree._id}}
            </div>    
        </div>        
        <div class="col4" ng-click="fn.service.db_tree.jsAddNote(tree); $event.stopPropagation();">
          <div class="col4table">
            <i class="icon-plus"></i>
          </div>
        </div>
    </div>

    <ul my-sortable class="sortable" ng-if="tree._open&&tree._childs" jq-show-effect-off="tree._open" jq-options="{type:'slide', duration:100, delay:0, hideImmediately: false}" data-parent-id="{{tree._id}}">
        <li class="tree2" ng-repeat="tree in fn.jsFindByParent(tree._id)">
            <div my-draggable=".sortable" class="tree_tmpl" ng-include="'views/subviews/view_one_line2.html'"></div>
        </li>
    </ul>

</script>
<!-- End Templates -->