<!-- <div class="allscreen" ng-if="set.show_pomidor_timer" ng-click="set.show_pomidor_timer=false"></div> -->

<div id="w_main" ng-class="{
        header_panel_opened: set.header_panel_opened||set.show_pomidor_timer,
        p_left_side_open: set.p_left_side_open,
        p_right_side_open: set.p_right_side_open,
        p_plan_of_day_closed: !set.p_plan_of_day_open
        }">


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="w_header_main">



        <div class="w_header_top">
            <div class="w_header_left">
              <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">4tree.ru</button>
                <ul class="dropdown-menu">
                  <li><a  ng-click="fn.changeLanguage('en');set.refresh=1;">English language</a></li>
                  <li><a  ng-click="fn.changeLanguage('ru');set.refresh=1;">Russian language</a></li>
                </ul>                    
              </div>
                <a class="btn"  ng-click="
                    set.header_panel_opened=!set.header_panel_opened"><i class="icon-star"></i></a>
                <a class="btn" ng-click="fn.changeLanguage('ru');set.refresh=1;">Ru</a>
                <a class="btn" ng-click="fn.pub('pub')">PUB</a>
            </div>
            <div class="w_header_center">
                <input placeholder="Искать...">
            </div>
            <div class="w_header_right">

                <div class="btn-group">

                    <button type="button" class="btn btn-default" ng-click="set.show_pomidor_timer=!set.show_pomidor_timer" ng-class="{active:set.show_pomidor_timer}"><i class="icon-record"></i> {{db.pomidors.btn_text}}
                    <!-- <div class="pomidor_wrap" ng-if="set.show_pomidor_timer">
                        <div class="pomidor_timer">
                            <div ng-include="set.pomidor_template" is-active=""></div>
                        </div>
                    </div>
 -->
                    </button>


                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Стоп</a></li>
                    <li class="divider"></li>
                    <li><a >01:00</a></li>
                    <li><a >02:00</a></li>
                    <li><a >03:00</a></li>
                    <li><a >05:00</a></li>
                    <li><a >10:00</a></li>
                    <li><a ><b>15:00</b></a></li>
                    <li><a >20:00</a></li>
                    <li><a >25:00</a></li>
                    <li><a ><b>30:00</b></a></li>
                    <li><a >35:00</a></li>
                    <li><a >40:00</a></li>
                    <li><a >45:00</a></li>
                    <li><a >50:00</a></li>
                    <li><a >55:00</a></li>
                    <li><a ><b>60:00</b></a></li>
                    <li><a >90:00</a></li>
                    <li><a >95:00</a></li>
                  </ul>
                </div>



                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="fn.addNote('Привет!!!')">+ Добавить</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Дело</a></li>
                    <li><a href="#">Заметку</a></li>
                    <li><a href="#">Помидорку</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Дневник на сегодня</a></li>
                  </ul>
                </div>

            </div>
        </div>
        <div class="w_header_bottom">

            <div class="pomidor_wrap noselectable" ng-if="set.show_pomidor_timer">
                <div class="pomidor_timer">
                    <div ng-include="set.pomidor_template" is-active=""></div>
                </div>
            </div>

        </div>
    </div>

    <div id="w_content_main">

        <div id="p_left_side_wrap">
            <div class="p_inside_wrap">
                <div class="p_inside_header">
                    <span class="title"><i class="icon-star"></i></span>
                </div>

                <div class="p_inside_header2">
                </div>

                <div class="p_inside_content vertical_scroll"  scrollable="{alwaysVisible:'true'}">
                </div>
            </div>
        </div>

        <div id="p_center_wrap">

            <div id="p_left_wrap">
                <div class="p_inside_wrap">
                    <div class="p_inside_header">
                        <span class="title drop" bindonce>{{'TREE' | translate}}</span>
                    </div>

                    <div class="p_inside_header2">
                        <div class="left_main_line">                         
                        </div>
                        <div ng-include="set.tree_header_template"></div>

                    </div>

                    <div class="p_inside_content vertical_scroll" scrollable="{alwaysVisible:'true'}">
                        <div class="editor">
                            <div class="left_main_line" ng-click="
            set.p_left_side_open=!set.p_left_side_open">
                            </div>
                            <div class="editor_content">
                                <div ng-include="set.tree_template"></div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="p_right_wrap">
                <div class="p_inside_wrap">
                    <div class="p_inside_header left_line">
                        <span class="title drop" bindonce>{{'EDITOR' | translate}}</span>
                    </div>

                    <div class="p_inside_header2">
                        <div class="right_main_line">
                        </div>
                    </div>

                    <div class="p_inside_content vertical_scroll" scrollable="{alwaysVisible:'true'}">
                        <div class="editor">
                            <div class="right_main_line" ng-click="
            set.p_right_side_open=!set.p_right_side_open">
                            </div>
                            <div class="editor_content margin_left">
                                <div ng-include="set.text_template"></div>                            
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="p_right_side_wrap" ng-if="set.p_plan_of_day_open">
            <div class="p_inside_wrap">
                <div class="p_inside_header">
                    <span class="title drop margin_left" bindonce>{{'PLANOFDAY' | translate}}</span>
                </div>

                <div class="p_inside_header2">
                </div>

                <div class="p_inside_content vertical_scroll" scrollable="{alwaysVisible:'true'}">
                    <div ng-include="set.plan_of_day_template"></div>
                </div>
            </div>
        </div>

        <div id="p_right_calendar_line">
            <div class="p_inside_wrap">
                <div class="p_inside_header">
                    <span class="title margin_left"></span>
                </div>

                <div ng-include="set.calendar_box_template"></div>

            </div>
        </div>


    </div>

</div>