<div class="header_menu">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <div class="navbar-header">

        <span class="dropdown">
          <span class="dropdown-toggle link user_photo" data-toggle="dropdown"><span class="photo" style="background:url('images/tmp/photo.jpg');"></span>
        </span>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </span>

        <span class="dropdown">
          <span class="dropdown-toggle link" data-toggle="dropdown">4tree.ru</span>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </span>


      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">





    <span class="dropdown">
      <span class="dropdown-toggle link" data-toggle="dropdown">Изменить</span>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>

    <span class="dropdown">
      <span class="dropdown-toggle link" data-toggle="dropdown">Вид</span>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>

    <span class="dropdown">
      <span class="dropdown-toggle link" data-toggle="dropdown">Закладки</span>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>

    <span class="dropdown">
      <span class="dropdown-toggle link" data-toggle="dropdown">25:00</span>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>

    <span class="dropdown">
      <span class="dropdown-toggle link sync" data-toggle="dropdown"><i class="glyphicon glyphicon-refresh"></i></span>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>

    <span class="dropdown">
      <span class="dropdown-toggle link sync" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></span>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>


      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Искать..." ng-model="search_box">
        </div>
      </form>


      <ul class="nav navbar-nav navbar-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm wide">Добавить</button>
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Заметку</a></li>
                <li><a href="#">Дело</a></li>
                <li><a href="#">Дневник</a></li>
                <li class="divider"></li>
                <li><a href="#">Помидорку</a></li>
              </ul>
            </div>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<div class="w_header_top" ng-if="false">
    <div class="w_header_left">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">4tree.ru</button>
        <ul class="dropdown-menu">
          <li><a  ng-click="fn.changeLanguage('en');set.refresh=1;">English language</a></li>
          <li><a  ng-click="fn.changeLanguage('ru');set.refresh=1;">Russian language</a></li>
        </ul>                    
      </div>
        <a class="btn"  ng-click="
            set.header_panel_opened=!set.header_panel_opened"><i class="icon-star"></i></a>
        <a class="btn" ng-click="fn.changeLanguage('ru');set.refresh=1;">Ru</a>
        <a class="btn" ng-click="fn.pub('pub')">PUB</a>
    </div>
    <div class="w_header_center">
        <input placeholder="Искать..." ng-model="search_box">
    </div>
    <div class="w_header_right">

        <div class="btn-group">

            <button type="button" class="btn btn-default" ng-click="set.show_pomidor_timer=!set.show_pomidor_timer" ng-class="{active:set.show_pomidor_timer}"><i class="icon-record"></i> {{db.pomidors.btn_text}}
            <!-- <div class="pomidor_wrap" ng-if="set.show_pomidor_timer">
                <div class="pomidor_timer">
                    <div ng-include="set.pomidor_template" is-active=""></div>
                </div>
            </div>
-->
            </button>


          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="#">Стоп</a></li>
            <li class="divider"></li>
            <li><a >01:00</a></li>
            <li><a >02:00</a></li>
            <li><a >03:00</a></li>
            <li><a >05:00</a></li>
            <li><a >10:00</a></li>
            <li><a ><b>15:00</b></a></li>
            <li><a >20:00</a></li>
            <li><a >25:00</a></li>
            <li><a ><b>30:00</b></a></li>
            <li><a >35:00</a></li>
            <li><a >40:00</a></li>
            <li><a >45:00</a></li>
            <li><a >50:00</a></li>
            <li><a >55:00</a></li>
            <li><a ><b>60:00</b></a></li>
            <li><a >90:00</a></li>
            <li><a >95:00</a></li>
          </ul>
        </div>



        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="fn.addNote('Привет!!!')">+ Добавить</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="#">Дело</a></li>
            <li><a href="#">Заметку</a></li>
            <li><a href="#">Помидорку</a></li>
            <li class="divider"></li>
            <li><a href="#">Дневник на сегодня</a></li>
          </ul>
        </div>

    </div>
</div>
<div class="w_header_bottom">

    <div class="pomidor_wrap noselectable" ng-if="set.show_pomidor_timer">
        <div class="pomidor_timer">
            <div ng-include="set.pomidor_template" is-active=""></div>
        </div>
    </div>

</div>
