<div id="w_main" ng-class="{
        header_panel_opened: set.header_panel_opened||set.show_pomidor_timer,
        p_left_side_open: set.p_left_side_open,
        p_right_side_open: set.p_right_side_open,
        p_plan_of_day_closed: !set.p_plan_of_day_open
        }">


    <!-- HEADER -->
    <div id="w_header_main">
        <div ng-include="'views/main_header.html'"></div>
    </div>

    <div id="w_content_main">
        
        <!-- LEFT PANEL -->
        <div id="p_left_side_wrap">
            <div class="p_inside_wrap">
                <div class="p_inside_header">
                    <span class="title"><i class="icon-star"></i></span>
                </div>

                <div class="p_inside_header2">
                </div>

                <div class="p_inside_content vertical_scroll"  scrollable="{alwaysVisible:'true'}">
                </div>
            </div>
        </div>

        <div class="left_main_line" ng-click="
    set.p_left_side_open=!set.p_left_side_open">
        </div>

        <!-- CENTER PANEL -->
        <div id="p_center_wrap">

            <div id="p_left_wrap">
                <div class="p_inside_wrap">
                    <div ng-include="set.tree_template"></div>
                </div>
            </div>

            <div id="p_right_wrap">
                <div class="p_inside_wrap">
                    <div ng-include="set.text_template"></div>
                </div>
            </div>

        </div>

        <div class="right_main_line" ng-click="
    set.p_right_side_open=!set.p_right_side_open">
        </div>


        <!-- RIGHT PANEL -->
        <div id="p_right_side_wrap" ng-if="set.p_plan_of_day_open">
            <div class="p_inside_wrap">
                <div class="p_inside_header">
                    <span class="title drop margin_left" bindonce>{{'PLANOFDAY' | translate}}</span>
                </div>

                <div class="p_inside_header2">
                </div>

                <div class="p_inside_content vertical_scroll" scrollable="{alwaysVisible:'true'}">
                    <div ng-include="set.plan_of_day_template"></div>
                </div>
            </div>
        </div>

        <div id="p_right_calendar_line">
            <div class="p_inside_wrap">
                <div class="p_inside_header">
                    <span class="title margin_left"></span>
                </div>

                <div ng-include="set.calendar_box_template"></div>

            </div>
        </div>


    </div>

</div>